openapi: 3.0.0
info:
  title: access requests
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/groups/{id}/access_requests':
    get:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    username:
                      type: string
                    name:
                      type: string
                    state:
                      type: string
                    created_at:
                      type: string
                    requested_at:
                      type: string
    post:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    username:
                      type: string
                    name:
                      type: string
                    state:
                      type: string
                    created_at:
                      type: string
                    requested_at:
                      type: string
  '/projects/{id}/access_requests':
    get:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    username:
                      type: string
                    name:
                      type: string
                    state:
                      type: string
                    created_at:
                      type: string
                    requested_at:
                      type: string
    post:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  username:
                    type: string
                  name:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                  requested_at:
                    type: string
  '/groups/{id}/access_requests/{user_id}/approve':
    put:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: user_id
          schema:
            type: integer
          in: path
          required: true
          description: The user ID of the access requester
        - name: access_level
          schema:
            type: integer
          required: false
          in: query
          description: 'A valid access level (defaults: 30, developer access level) '
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  username:
                    type: string
                  name:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                  requested_at:
                    type: string
  '/projects/{id}/access_requests/{user_id}/approve':
    put:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: user_id
          schema:
            type: integer
          in: path
          required: true
          description: The user ID of the access requester
        - name: access_level
          schema:
            type: integer
          required: false
          in: query
          description: 'A valid access level (defaults: 30, developer access level) '
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  username:
                    type: string
                  name:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                  requested_at:
                    type: string
  '/groups/{id}/access_requests/{user_id}':
    delete:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: user_id
          schema:
            type: integer
          in: path
          required: true
          description: The user ID of the access requester
      responses:
        '202':
          description: success
  '/projects/{id}/access_requests/{user_id}':
    delete:
      tags:
        - access requests
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: user_id
          schema:
            type: integer
          in: path
          required: true
          description: The user ID of the access requester
      responses:
        '202':
          description: success
