openapi: 3.0.0
info:
  title: Award Emoji
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/issues/{issue_iid}/award_emoji':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        in: path
        required: true
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    user:
                      type: object
                      properties:
                        name:
                          type: string
                        username:
                          type: string
                        id:
                          type: integer
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    awardable_id:
                      type: integer
                    awardable_type:
                      type: string
    post:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        in: path
        required: true
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
  '/projects/{id}/merge_requests/{merge_request_iid}/award_emoji':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: merge_request_iid
        schema:
          type: integer
        in: path
        required: true
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    user:
                      type: object
                      properties:
                        name:
                          type: string
                        username:
                          type: string
                        id:
                          type: integer
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    awardable_id:
                      type: integer
                    awardable_type:
                      type: string
    post:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: merge_request_iid
        schema:
          type: integer
        in: path
        required: true
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
  '/projects/{id}/snippets/{snippet_id}/award_emoji':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: snippet_id
        schema:
          type: integer
        in: path
        required: true
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    user:
                      type: object
                      properties:
                        name:
                          type: string
                        username:
                          type: string
                        id:
                          type: integer
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    awardable_id:
                      type: integer
                    awardable_type:
                      type: string
    post:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: snippet_id
        schema:
          type: integer
        in: path
        required: true
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
  '/projects/{id}/issues/{issue_iid}/award_emoji/{award_id}':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        required: true
        in: path
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
    delete:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        required: true
        in: path
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
  '/projects/{id}/merge_requests/{merge_request_iid}/award_emoji/{award_id}':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: merge_request_iid
        schema:
          type: integer
        required: true
        in: path
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
    delete:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: merge_request_iid
        schema:
          type: integer
        required: true
        in: path
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
  '/projects/{id}/snippets/{snippet_id}/award_emoji/{award_id}':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: snippet_id
        schema:
          type: integer
        required: true
        in: path
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
    delete:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: snippet_id
        schema:
          type: integer
        required: true
        in: path
        description: 'ID (iid for merge requests/issues, id for snippets) of an awardable.'
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
  '/projects/{id}/issues/{issue_iid}/notes/{note_id}/award_emoji':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        required: true
        in: path
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        required: true
        in: path
        description: Internal ID of an issue.
      - name: note_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of a comment (note).
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    user:
                      type: object
                      properties:
                        name:
                          type: string
                        username:
                          type: string
                        id:
                          type: integer
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    awardable_id:
                      type: integer
                    awardable_type:
                      type: string
    post:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        in: path
        required: true
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        required: true
        in: path
        description: Internal ID of an issue.
      - name: note_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of a comment (note).
      - name: name
        schema:
          type: string
        required: true
        in: query
        description: Name of the emoji without colons.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
  '/projects/{id}/issues/{issue_iid}/notes/{note_id}/award_emoji/{award_id}':
    get:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        in: path
        required: true
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        in: path
        required: true
        description: Internal ID of an issue.
      - name: note_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of a comment (note).
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  awardable_id:
                    type: integer
                  awardable_type:
                    type: string
    delete:
      tags:
        - Award Emoji
      parameters:
      - name: id
        schema:
          oneOf:
            - type: integer
            - type: string
        in: path
        required: true
        description: ID or URL-encoded path of the project.
      - name: issue_iid
        schema:
          type: integer
        in: path
        required: true
        description: Internal ID of an issue.
      - name: note_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of a comment (note).
      - name: award_id
        schema:
          type: integer
        required: true
        in: path
        description: ID of the award emoji.
      responses:
        '200':
          description: success
