openapi: 3.0.0
info:
  title: badges (group)
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/groups/{id}/badges':
    get:
      tags:
        - group badges
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: name
          schema:
            type: string
          required: false
          in: query
          description: Name of the badges to return (case-sensitive).
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: integer
                    link_url:
                      type: string
                    image_url:
                      type: string
                    rendered_link_url:
                      type: string
                    rendered_image_url:
                      type: string
                    kind:
                      type: string
    post:
      tags:
        - group badges
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: link_url
          schema:
            type: string
          required: true
          in: query
          description: URL of the badge link
        - name: image_url
          schema:
            type: string
          required: true
          in: query
          description: URL of the badge image
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  link_url:
                    type: string
                  image_url:
                    type: string
                  rendered_link_url:
                    type: string
                  rendered_image_url:
                    type: string
                  kind:
                    type: string
  '/groups/{id}/badges/{badge_id}':
    get:
      tags:
        - group badges
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: badge_id
          schema:
            type: integer
          required: true
          in: path
          description: The badge ID
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  link_url:
                    type: string
                  image_url:
                    type: string
                  rendered_link_url:
                    type: string
                  rendered_image_url:
                    type: string
                  kind:
                    type: string
    put:
      tags:
        - group badges
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: badge_id
          schema:
            type: integer
          required: true
          in: path
          description: The badge ID
        - name: link_url
          schema:
            type: string
          required: false
          in: query
          description: URL of the badge link
        - name: image_url
          schema:
            type: string
          required: false
          in: query
          description: URL of the badge image
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  link_url:
                    type: string
                  image_url:
                    type: string
                  rendered_link_url:
                    type: string
                  rendered_image_url:
                    type: string
                  kind:
                    type: string
    delete:
      tags:
        - group badges
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: badge_id
          schema:
            type: integer
          required: true
          in: path
          description: The badge ID
      responses:
        '200':
          description: success
  '/groups/{id}/badges/render':
    get:
      tags:
        - group badges
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: link_url
          schema:
            type: string
          required: true
          in: query
          description: URL of the badge link
        - name: image_url
          schema:
            type: string
          required: true
          in: query
          description: URL of the badge image
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  link_url:
                    type: string
                  image_url:
                    type: string
                  rendered_link_url:
                    type: string
                  rendered_image_url:
                    type: string
