openapi: 3.0.0
info:
  title: broadcast messages
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  /broadcast_messages:
    get:
      tags:
        - Broadcast Messages
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    message:
                      type: string
                    starts_at:
                      type: string
                    ends_at:
                      type: string
                    color:
                      type: string
                    font:
                      type: string
                    id:
                      type: integer
                    active:
                      type: boolean
                    target_path:
                      type: string
                    broadcast_type:
                      type: string
                    dismissable:
                      type: boolean
    post:
      tags:
        - Broadcast Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Message to display.
                starts_at:
                  type: string
                  description: >-
                    Starting time (defaults to current time). Expected in ISO
                    8601 format (2019-03-15T08:00:00Z)
                ends_at:
                  type: string
                  description: >-
                    Ending time (defaults to one hour from current time).
                    Expected in ISO 8601 format (2019-03-15T08:00:00Z)
                color:
                  type: string
                  description: Background color hex code.
                font:
                  type: string
                  description: Foreground color hex code.
                target_path:
                  type: string
                  description: Target path of the broadcast message.
                broadcast_type:
                  type: string
                  description: Appearance type (defaults to banner)
                dismissable:
                  type: boolean
                  description: Can the user dismiss the message?
              required:
                - message
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  color:
                    type: string
                  font:
                    type: string
                  id:
                    type: integer
                  active:
                    type: boolean
                  target_path:
                    type: string
                  broadcast_type:
                    type: string
                  dismissable:
                    type: boolean
  '/broadcast_messages/{id}':
    get:
      tags:
        - Broadcast Messages
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: ID of broadcast message to retrieve.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  color:
                    type: string
                  font:
                    type: string
                  id:
                    type: integer
                  active:
                    type: boolean
                  target_path:
                    type: string
                  broadcast_type:
                    type: string
                  dismissable:
                    type: boolean
    put:
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: ID of broadcast message to update.
        - name: message
          schema:
            type: string
          required: false
          in: query
          description: Message to display.
        - name: starts_at
          schema:
            type: string
          required: false
          in: query
          description: 'Starting time. Expected in ISO 8601 format (2019-03-15T08:00:00Z)'
        - name: ends_at
          schema:
            type: string
          required: false
          in: query
          description: 'Ending time. Expected in ISO 8601 format (2019-03-15T08:00:00Z)'
        - name: color
          schema:
            type: string
          required: false
          in: query
          description: Background color hex code.
        - name: font
          schema:
            type: string
          required: false
          in: query
          description: Foreground color hex code.
        - name: target_path
          schema:
            type: string
          required: false
          in: query
          description: Target path of the broadcast message.
        - name: broadcast_type
          schema:
            type: string
          required: false
          in: query
          description: Appearance type (defaults to banner)
        - name: dismissable
          schema:
            type: boolean
          required: false
          in: query
          description: Can the user dismiss the message?
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  color:
                    type: string
                  font:
                    type: string
                  id:
                    type: integer
                  active:
                    type: boolean
                  target_path:
                    type: string
                  broadcast_type:
                    type: string
                  dismissable:
                    type: boolean
    delete:
      tags:
        - Broadcast Messages
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: ID of broadcast message to delete.
      responses:
        '200':
          description: success
