openapi: 3.0.0
info:
  title: commits
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/repository/commits':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: ref_name
          schema:
            type: string
          required: false
          in: query
          description: >-
            The name of a repository branch, tag or revision range, or if not
            given the default branch
        - name: since
          schema:
            type: string
          required: false
          in: query
          description: >-
            Only commits after or on this date will be returned in ISO 8601
            format YYYY-MM-DDTHH:MM:SSZ
        - name: until
          schema:
            type: string
          required: false
          in: query
          description: >-
            Only commits before or on this date will be returned in ISO 8601
            format YYYY-MM-DDTHH:MM:SSZ
        - name: path
          schema:
            type: string
          required: false
          in: query
          description: The file path
        - name: all
          schema:
            type: boolean
          required: false
          in: query
          description: Retrieve every commit from the repository
        - name: with_stats
          schema:
            type: boolean
          required: false
          in: query
          description: Stats about each commit will be added to the response
        - name: first_parent
          schema:
            type: boolean
          required: false
          in: query
          description: Follow only the first parent commit upon seeing a merge commit
        - name: order
          schema:
            type: string
          required: false
          in: query
          description: >-
            List commits in order. Possible values: default, topo. Defaults to
            default, the commits are shown in reverse chronological order.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  short_id:
                    type: string
                  title:
                    type: string
                  author_name:
                    type: string
                  author_email:
                    type: string
                  authored_date:
                    type: string
                  committer_name:
                    type: string
                  committer_email:
                    type: string
                  committed_date:
                    type: string
                  created_at:
                    type: string
                  message:
                    type: string
                  parent_ids:
                    type: array
                    items:
                      type: string
                  web_url:
                    type: string
    post:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: The ID or URL-encoded path of the project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                branch:
                  type: string
                  description: >-
                    Name of the branch to commit into. To create a new branch,
                    also provide either start_branch or start_sha, and
                    optionally start_project.
                commit_message:
                  type: string
                  description: Commit message
                start_branch:
                  type: string
                  description: Name of the branch to start the new branch from
                start_sha:
                  type: string
                  description: SHA of the commit to start the new branch from
                start_project:
                  oneOf:
                    - type: string
                    - type: integer
                  description: >-
                    The project ID or URL-encoded path of the project to start
                    the new branch from. Defaults to the value of id.
                'actions[]':
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                        description: >-
                          The action to perform, create, delete, move, update,
                          chmod
                      file_path:
                        type: string
                        description: Full path to the file. Ex. lib/class.rb
                      previous_path:
                        type: string
                        description: >-
                          Original full path to the file being moved. Ex.
                          lib/class1.rb. Only considered for move action.
                      content:
                        type: string
                        description: >-
                          File content, required for all except delete, chmod,
                          and move. Move actions that do not specify content
                          will preserve the existing file content, and any other
                          value of content will overwrite the file content.
                      encoding:
                        type: string
                        description: text or base64. text is default.
                      last_commit_id:
                        type: string
                        description: >-
                          Last known file commit ID. Will be only considered in
                          update, move, and delete actions.
                      execute_filemode:
                        type: boolean
                        description: >-
                          When true/false enables/disables the execute flag on
                          the file. Only considered for chmod action.
                    required:
                      - action
                      - file_path
                author_email:
                  type: string
                  description: Specify the commit author’s email address
                author_name:
                  type: string
                  description: Specify the commit author’s name
                stats:
                  type: boolean
                  description: Include commit stats. Default is true
                force:
                  type: boolean
                  description: >-
                    When true overwrites the target branch with a new commit
                    based on the start_branch or start_sha
              required:
                - branch
                - commit_message
                - 'actions[]'
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  short_id:
                    type: string
                  title:
                    type: string
                  author_name:
                    type: string
                  author_email:
                    type: string
                  committer_name:
                    type: string
                  committer_email:
                    type: string
                  created_at:
                    type: string
                  message:
                    type: string
                  parent_ids:
                    type: array
                    items:
                      type: string
                  committed_date:
                    type: string
                  authored_date:
                    type: string
                  stats:
                    type: object
                    properties:
                      additions:
                        type: integer
                      deletions:
                        type: integer
                      total:
                        type: integer
                  status:
                    type: string
                  web_url:
                    type: string
  '/projects/{id}/repository/commits/{sha}':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit hash or name of a repository branch or tag
        - name: stats
          schema:
            type: boolean
          required: false
          in: query
          description: Include commit stats. Default is true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  short_id:
                    type: string
                  title:
                    type: string
                  author_name:
                    type: string
                  author_email:
                    type: string
                  committer_name:
                    type: string
                  committer_email:
                    type: string
                  created_at:
                    type: string
                  message:
                    type: string
                  committed_date:
                    type: string
                  authored_date:
                    type: string
                  parent_ids:
                    type: array
                    items:
                      type: string
                  last_pipeline:
                    type: object
                    properties:
                      id:
                        type: integer
                      ref:
                        type: string
                      sha:
                        type: string
                      status:
                        type: string
                  stats:
                    type: object
                    properties:
                      additions:
                        type: integer
                      deletions:
                        type: integer
                      total:
                        type: integer
                  status:
                    type: string
                  web_url:
                    type: string
  '/projects/{id}/repository/commits/{sha}/refs':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit hash
        - name: type
          schema:
            type: string
          required: false
          in: query
          description: >-
            The scope of commits. Possible values branch, tag, all. Default is
            all.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    name:
                      type: string
  '/projects/{id}/repository/commits/{sha}/cherry_pick':
    post:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit hash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                branch:
                  type: string
                  description: Target branch name
                dry_run:
                  type: boolean
                  description: >-
                    Does not commit any changes. Default is false. Introduced in
                    GitLab 13.3
              required:
                - branch
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  short_id:
                    type: string
                  title:
                    type: string
                  author_name:
                    type: string
                  author_email:
                    type: string
                  authored_date:
                    type: string
                  created_at:
                    type: string
                  committer_name:
                    type: string
                  committer_email:
                    type: string
                  committed_date:
                    type: string
                  message:
                    type: string
                  parent_ids:
                    type: array
                    items:
                      type: string
                  web_url:
                    type: string
  '/projects/{id}/repository/commits/{sha}/revert':
    post:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: The ID or URL-encoded path of the project
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: Commit SHA to revert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                branch:
                  type: string
                  description: Target branch name
                dry_run:
                  type: boolean
                  description: >-
                    Does not commit any changes. Default is false. Introduced in
                    GitLab 13.3
              required:
                - branch
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  short_id:
                    type: string
                  title:
                    type: string
                  created_at:
                    type: string
                  parent_ids:
                    type: string
                  message:
                    type: string
                  author_name:
                    type: string
                  author_email:
                    type: string
                  authored_date:
                    type: string
                  committer_name:
                    type: string
                  committer_email:
                    type: string
                  committed_date:
                    type: string
                  web_url:
                    type: string
  '/projects/{id}/repository/commits/{sha}/diff':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit hash or name of a repository branch or tag
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  diff:
                    type: string
                  new_path:
                    type: string
                  old_path:
                    type: string
                  a_mode:
                    type: string
                  b_mode:
                    type: string
                  new_file:
                    type: boolean
                  renamed_file:
                    type: boolean
                  deleted_file:
                    type: boolean
  '/projects/{id}/repository/commits/{sha}/comments':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit hash or name of a repository branch or tag
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  note:
                    type: string
                  author:
                    type: object
                    properties:
                      id:
                        type: integer
                      username:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                      state:
                        type: string
                      created_at:
                        type: string
    post:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit SHA or name of a repository branch or tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: The text of the comment
                path:
                  type: string
                  description: The file path relative to the repository
                line:
                  type: integer
                  description: The line number where the comment should be placed
                line_type:
                  type: string
                  description: The line type. Takes new or old as arguments
              required:
                - note
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  author:
                    type: object
                    properties:
                      web_url:
                        type: string
                      avatar_url:
                        type: string
                      username:
                        type: string
                      state:
                        type: string
                      name:
                        type: string
                      id:
                        type: integer
                  created_at:
                    type: string
                  line_type:
                    type: string
                  path:
                    type: string
                  line:
                    type: integer
                  note:
                    type: string
  '/projects/{id}/repository/commits/{sha}/discussions':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          in: path
          required: true
          description: The commit hash or name of a repository branch or tag
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  individual_note:
                    type: boolean
                  notes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        body:
                          type: string
                        attachment:
                          type: string
                        author:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            username:
                              type: string
                            web_url:
                              type: string
                            state:
                              type: string
                            avatar_url:
                              type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        system:
                          type: boolean
                        noteable_id:
                          type: integer
                        noteable_type:
                          type: string
                        resolvable:
                          type: boolean
                        confidential:
                          type: string
                        noteable_iid:
                          type: integer
                        commands_changes:
                          type: object
  '/projects/{id}/repository/commits/{sha}/statuses':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit SHA
        - name: ref
          schema:
            type: string
          required: false
          in: query
          description: >-
            The name of a repository branch or tag or, if not given, the default
            branch
        - name: stage
          schema:
            type: string
          required: false
          in: query
          description: 'Filter by build stage, e.g., test'
        - name: name
          schema:
            type: string
          required: false
          in: query
          description: 'Filter by job name, e.g., bundler:audit'
        - name: all
          schema:
            type: boolean
          required: false
          in: query
          description: 'Return all statuses, not only the latest ones'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  created_at:
                    type: string
                  started_at:
                    type: string
                  name:
                    type: string
                  allow_failure:
                    type: boolean
                  author:
                    type: object
                    properties:
                      username:
                        type: string
                      state:
                        type: string
                      web_url:
                        type: string
                      avatar_url:
                        type: string
                      id:
                        type: integer
                      name:
                        type: string
                  description:
                    type: string
                  sha:
                    type: string
                  target_url:
                    type: string
                  finished_at:
                    type: string
                  id:
                    type: integer
                  ref:
                    type: string
  '/projects/{id}/statuses/{sha}':
    post:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          required: true
          in: path
          description: The commit SHA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                  description: >-
                    The state of the status. Can be one of the following:
                    pending, running, success, failed, canceled
                ref:
                  type: string
                  description: The ref (branch or tag) to which the status refers
                name or context:
                  type: string
                  description: >-
                    The label to differentiate this status from the status of
                    other systems. Default value is default
                target_url:
                  type: string
                  description: The target URL to associate with this status
                description:
                  type: string
                  description: The short description of the status
                coverage:
                  type: number
                  description: The total code coverage
                pipeline_id:
                  type: integer
                  description: >-
                    The ID of the pipeline to set status. Use in case of several
                    pipeline on same SHA.
              required:
                - state
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  iid:
                    type: integer
                  project_id:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  target_branch:
                    type: string
                  source_branch:
                    type: string
                  upvotes:
                    type: integer
                  downvotes:
                    type: integer
                  author:
                    type: object
                    properties:
                      web_url:
                        type: string
                      name:
                        type: string
                      avatar_url:
                        type: string
                      username:
                        type: string
                      state:
                        type: string
                      id:
                        type: integer
                  assignee:
                    type: string
                  source_project_id:
                    type: integer
                  target_project_id:
                    type: integer
                  labels:
                    type: array
                    items:
                      type: string
                  work_in_progress:
                    type: boolean
                  milestone:
                    type: string
                  merge_when_pipeline_succeeds:
                    type: boolean
                  merge_status:
                    type: string
                  sha:
                    type: string
                  merge_commit_sha:
                    type: string
                  squash_commit_sha:
                    type: string
                  user_notes_count:
                    type: integer
                  discussion_locked:
                    type: string
                  should_remove_source_branch:
                    type: string
                  force_remove_source_branch:
                    type: boolean
                  web_url:
                    type: string
                  time_stats:
                    type: object
                    properties:
                      time_estimate:
                        type: integer
                      total_time_spent:
                        type: integer
                      human_time_estimate:
                        type: string
                      human_total_time_spent:
                        type: string
  '/projects/{id}/repository/commits/{sha}/signature':
    get:
      tags:
        - commits
      parameters:
        - name: id
          schema:
            oneOf:
              - type: integer
              - type: string
          in: path
          required: true
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: sha
          schema:
            type: string
          in: path
          required: true
          description: The commit hash or name of a repository branch or tag
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature_type:
                    type: string
                  verification_status:
                    type: string
                  gpg_key_id:
                    type: integer
                  gpg_key_primary_keyid:
                    type: string
                  gpg_key_user_name:
                    type: string
                  gpg_key_user_email:
                    type: string
                  gpg_key_subkey_id:
                    type: string
                  commit_source:
                    type: string
