openapi: 3.0.0
info:
  title: clusters
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/registry/repositories':
    get:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project accessible by the
            authenticated user.
        - name: tags
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            If the parameter is included as true, each repository includes an
            array of "tags" in the response.
        - name: tags_count
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            If the parameter is included as true, each repository includes
            "tags_count" in the response (Introduced in GitLab 13.1).
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    path:
                      type: string
                    project_id:
                      type: integer
                    location:
                      type: string
                    created_at:
                      type: string
                    cleanup_policy_started_at:
                      type: string
  '/groups/{id}/registry/repositories':
    get:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group accessible by the
            authenticated user.
        - name: tags
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            If the parameter is included as true, each repository includes an
            array of "tags" in the response.
        - name: tags_count
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            If the parameter is included as true, each repository includes
            "tags_count" in the response (Introduced in GitLab 13.1).
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    path:
                      type: string
                    project_id:
                      type: integer
                    location:
                      type: string
                    created_at:
                      type: string
                    cleanup_policy_started_at:
                      type: string
                    tags_count:
                      type: integer
                    tags:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          path:
                            type: string
                          location:
                            type: string
  '/registry/repositories/{id}':
    get:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID of the registry repository accessible by the authenticated
            user.
        - name: tags
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            If the parameter is included as true, the response includes an array
            of "tags".
        - name: tags_count
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            If the parameter is included as true, the response includes
            "tags_count".
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  path:
                    type: string
                  project_id:
                    type: integer
                  location:
                    type: string
                  created_at:
                    type: string
                  cleanup_policy_started_at:
                    type: string
                  tags_count:
                    type: integer
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        path:
                          type: string
                        location:
                          type: string
  '/projects/{id}/registry/repositories/{repository_id}':
    delete:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: repository_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of registry repository.
      responses:
        '200':
          description: success
  '/projects/{id}/registry/repositories/{repository_id}/tags':
    get:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project accessible by the
            authenticated user.
        - name: repository_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of registry repository.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    path:
                      type: string
                    location:
                      type: string
    delete:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: repository_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of registry repository.
        - name: name_regex
          schema:
            type: string
          required: false
          in: query
          description: >-
            The re2 regex of the name to delete. To delete all tags specify .*.
            Note: name_regex is deprecated in favor of name_regex_delete. This
            field is validated.
        - name: name_regex_delete
          schema:
            type: string
          required: true
          in: query
          description: >-
            The re2 regex of the name to delete. To delete all tags specify .*.
            This field is validated.
        - name: name_regex_keep
          schema:
            type: string
          required: false
          in: query
          description: >-
            The re2 regex of the name to keep. This value overrides any matches
            from name_regex_delete. This field is validated. Note: setting to .*
            results in a no-op.
        - name: keep_n
          schema:
            type: integer
          required: false
          in: query
          description: The amount of latest tags of given name to keep.
        - name: older_than
          schema:
            type: string
          required: false
          in: query
          description: >-
            Tags to delete that are older than the given time, written in human
            readable form 1h, 1d, 1month.
      responses:
        '200':
          description: success
  '/projects/{id}/registry/repositories/{repository_id}/tags/{tag_name}':
    get:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project accessible by the
            authenticated user.
        - name: repository_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of registry repository.
        - name: tag_name
          schema:
            type: string
          required: true
          in: path
          description: The name of tag.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  location:
                    type: string
                  revision:
                    type: string
                  short_revision:
                    type: string
                  digest:
                    type: string
                  created_at:
                    type: string
                  total_size:
                    type: integer
    delete:
      tags:
        - Container Registry
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: repository_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of registry repository.
        - name: tag_name
          schema:
            type: string
          required: true
          in: path
          description: The name of tag.
      responses:
        '200':
          description: success
