openapi: 3.0.0
info:
  title: clusters
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/users/{id}/custom_attributes':
    get:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
  '/groups/{id}/custom_attributes':
    get:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
  '/projects/{id}/custom_attributes':
    get:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
  '/users/{id}/custom_attributes/{key}':
    get:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  value:
                    type: string
    put:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
        - name: value
          schema:
            type: string
          required: true
          in: query
          description: The value of the custom attribute
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  value:
                    type: string
    delete:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
      responses:
        '200':
          description: success
  '/groups/{id}/custom_attributes/{key}':
    get:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  value:
                    type: string
    delete:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
      responses:
        '200':
          description: success
    put:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
        - name: value
          schema:
            type: string
          required: true
          in: query
          description: The value of the custom attribute
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  value:
                    type: string
  '/projects/{id}/custom_attributes/{key}':
    get:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  value:
                    type: string
    put:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
        - name: value
          schema:
            type: string
          required: true
          in: query
          description: The value of the custom attribute
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  value:
                    type: string
    delete:
      tags:
        - Custom Attributes
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a resource
        - name: key
          schema:
            type: string
          required: true
          in: path
          description: The key of the custom attribute
      responses:
        '200':
          description: success
