openapi: 3.0.0
info:
  title: clusters
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/environments/{id}/metrics_dashboard/annotations/':
    post:
      tags:
        - Dashboard annotations
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dashboard_path:
                  type: string
                  description: >-
                    ID of the dashboard which needs to be annotated. Treated as
                    a CGI-escaped path, and automatically un-escaped.
                starting_at:
                  type: string
                  description: >-
                    Date time string, ISO 8601 formatted, such as
                    2016-03-11T03:45:40Z. Timestamp marking start point of
                    annotation.
                ending_at:
                  type: string
                  description: >-
                    Date time string, ISO 8601 formatted, such as
                    2016-03-11T03:45:40Z. Timestamp marking end point of
                    annotation. When not supplied, an annotation displays as a
                    single event at the start point.
                description:
                  type: string
                  description: Description of the annotation.
              required:
                - dashboard_path
                - starting_at
                - description
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  starting_at:
                    type: string
                  ending_at:
                    type: string
                  dashboard_path:
                    type: string
                  description:
                    type: string
                  environment_id:
                    type: integer
                  cluster_id:
                    type: string
  '/clusters/{id}/metrics_dashboard/annotations/':
    post:
      tags:
        - Dashboard annotations
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dashboard_path:
                  type: string
                  description: >-
                    ID of the dashboard which needs to be annotated. Treated as
                    a CGI-escaped path, and automatically un-escaped.
                starting_at:
                  type: string
                  description: >-
                    Date time string, ISO 8601 formatted, such as
                    2016-03-11T03:45:40Z. Timestamp marking start point of
                    annotation.
                ending_at:
                  type: string
                  description: >-
                    Date time string, ISO 8601 formatted, such as
                    2016-03-11T03:45:40Z. Timestamp marking end point of
                    annotation. When not supplied, an annotation displays as a
                    single event at the start point.
                description:
                  type: string
                  description: Description of the annotation.
              required:
                - dashboard_path
                - starting_at
                - description
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  starting_at:
                    type: string
                  ending_at:
                    type: string
                  dashboard_path:
                    type: string
                  description:
                    type: string
                  environment_id:
                    type: integer
                  cluster_id:
                    type: string
