openapi: 3.0.0
info:
  title: clusters
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/dependencies':
    get:
      tags:
        - Dependencies
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project.
        - name: package_manager
          schema:
            type: array
            items:
              type: string
          required: false
          in: query
          description: >-
            Returns dependencies belonging to specified package manager. Valid
            values: bundler, composer, maven, npm, pip or yarn.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    package_manager:
                      type: string
                    dependency_file_path:
                      type: string
                    vulnerabilities:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          severity:
                            type: string
