openapi: 3.0.0
info:
  title: Dependency Proxy
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  /deploy_keys:
    get:
      tags:
        - Deploy Keys
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    key:
                      type: string
                    created_at:
                      type: string
  '/projects/{id}/deploy_keys':
    get:
      tags:
        - Deploy Keys
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    key:
                      type: string
                    created_at:
                      type: string
                    can_push:
                      type: boolean
    post:
      tags:
        - Deploy Keys
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: title
          schema:
            type: string
          required: true
          in: query
          description: New deploy key’s title
        - name: key
          schema:
            type: string
          required: true
          in: query
          description: New deploy key
        - name: can_push
          schema:
            type: boolean
          required: false
          in: query
          description: Can deploy key push to the project’s repository
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  id:
                    type: integer
                  title:
                    type: string
                  can_push:
                    type: boolean
                  created_at:
                    type: string
  '/projects/{id}/deploy_keys/{key_id}':
    get:
      tags:
        - Deploy Keys
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: key_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the deploy key
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  key:
                    type: string
                  created_at:
                    type: string
                  can_push:
                    type: boolean
    put:
      tags:
        - Deploy Keys
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: title
          schema:
            type: string
          required: false
          in: query
          description: New deploy key’s title
        - name: can_push
          schema:
            type: boolean
          required: false
          in: query
          description: Can deploy key push to the project’s repository
        - name: key_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the deploy key
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  key:
                    type: string
                  created_at:
                    type: string
                  can_push:
                    type: boolean
    delete:
      tags:
        - Deploy Keys
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: key_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the deploy key
      responses:
        '200':
          description: success
