openapi: 3.0.0
info:
  title: Dependency Proxy
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/issues/{issue_iid}/discussions':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: issue_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of an issue
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    individual_note:
                      type: boolean
                    notes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          body:
                            type: string
                          attachment:
                            type: string
                          author:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              username:
                                type: string
                              state:
                                type: string
                              avatar_url:
                                type: string
                              web_url:
                                type: string
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          system:
                            type: boolean
                          noteable_id:
                            type: integer
                          noteable_type:
                            type: string
                          noteable_iid:
                            type: string
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: issue_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of an issue
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the thread
        - name: created_at
          schema:
            type: string
          required: false
          in: query
          description: >-
            Date time string, ISO 8601 formatted, e.g. 2016-03-11T03:45:40Z
            (requires admin or project/group owner rights)
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  individual_note:
                    type: boolean
                  notes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        body:
                          type: string
                        attachment:
                          type: string
                        author:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            username:
                              type: string
                            state:
                              type: string
                            avatar_url:
                              type: string
                            web_url:
                              type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        system:
                          type: boolean
                        noteable_id:
                          type: integer
                        noteable_type:
                          type: string
  '/projects/{id}/issues/{issue_iid}/discussions/{discussion_id}':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: issue_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of an issue
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a discussion item
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  individual_note:
                    type: boolean
                  notes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        body:
                          type: string
                        attachment:
                          type: string
                        author:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            username:
                              type: string
                            state:
                              type: string
                            avatar_url:
                              type: string
                            web_url:
                              type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        system:
                          type: boolean
                        noteable_id:
                          type: integer
                        noteable_type:
                          type: string
  '/projects/{id}/issues/{issue_iid}/discussions/{discussion_id}/notes':
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: issue_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of an issue
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: query
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the note/reply
        - name: created_at
          schema:
            type: string
          required: false
          in: query
          description: >-
            Date time string, ISO 8601 formatted, e.g. 2016-03-11T03:45:40Z
            (requires admin or project/group owner rights)
      responses:
        '200':
          description: success
  '/projects/{id}/issues/{issue_iid}/discussions/{discussion_id}/notes/{note_id}':
    put:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: issue_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of an issue
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the note/reply
      responses:
        '200':
          description: success
    delete:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: issue_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of an issue
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a discussion
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a discussion note
      responses:
        '200':
          description: success
  '/projects/{id}/snippets/{snippet_id}/discussions':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: snippet_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an snippet
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    individual_note:
                      type: boolean
                    notes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          body:
                            type: string
                          attachment:
                            type: string
                          author:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              username:
                                type: string
                              state:
                                type: string
                              avatar_url:
                                type: string
                              web_url:
                                type: string
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          system:
                            type: boolean
                          noteable_id:
                            type: integer
                          noteable_type:
                            type: string
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: snippet_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an snippet
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of a discussion
        - name: created_at
          schema:
            type: string
          required: false
          in: query
          description: >-
            Date time string, ISO 8601 formatted, e.g. 2016-03-11T03:45:40Z
            (requires admin or project/group owner rights)
      responses:
        '200':
          description: success
  '/projects/{id}/snippets/{snippet_id}/discussions/{discussion_id}':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: snippet_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an snippet
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a discussion item
      responses:
        '200':
          description: success
  '/projects/{id}/snippets/{snippet_id}/discussions/{discussion_id}/notes/{note_id}':
    put:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: snippet_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an snippet
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the note/reply
        - name: created_at
          schema:
            type: string
          required: false
          in: query
          description: >-
            Date time string, ISO 8601 formatted, e.g. 2016-03-11T03:45:40Z
            (requires admin or project/group owner rights)
      responses:
        '200':
          description: success
    delete:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: snippet_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an snippet
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the note/reply
      responses:
        '200':
          description: success
  '/groups/{id}/epics/{epic_id}/discussions':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: epic_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an epic
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    individual_note:
                      type: boolean
                    notes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          body:
                            type: string
                          attachment:
                            type: string
                          author:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              username:
                                type: string
                              state:
                                type: string
                              avatar_url:
                                type: string
                              web_url:
                                type: string
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          system:
                            type: boolean
                          noteable_id:
                            type: integer
                          noteable_type:
                            type: string
                          resolvable:
                            type: boolean
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: epic_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an epic
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the thread
        - name: created_at
          schema:
            type: string
          required: false
          in: query
          description: >-
            Date time string, ISO 8601 formatted, e.g. 2016-03-11T03:45:40Z
            (requires admin or project/group owner rights)
      responses:
        '200':
          description: success
  '/groups/{id}/epics/{epic_id}/discussions/{discussion_id}':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: epic_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an epic
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a discussion item
      responses:
        '200':
          description: success
  '/groups/{id}/epics/{epic_id}/discussions/{discussion_id}/notes':
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: epic_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an epic
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: query
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the note/reply
        - name: created_at
          schema:
            type: string
          required: false
          in: query
          description: >-
            Date time string, ISO 8601 formatted, e.g. 2016-03-11T03:45:40Z
            (requires admin or project/group owner rights)
      responses:
        '200':
          description: success
  '/groups/{id}/epics/{epic_id}/discussions/{discussion_id}/notes/{note_id}':
    put:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: epic_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an epic
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of note/reply
      responses:
        '200':
          description: success
    delete:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: epic_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of an epic
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
      responses:
        '200':
          description: success
  '/projects/{id}/merge_requests/{merge_request_iid}/discussions':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: merge_request_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of a merge request
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    individual_note:
                      type: boolean
                    notes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          body:
                            type: string
                          attachment:
                            type: string
                          author:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              username:
                                type: string
                              state:
                                type: string
                              avatar_url:
                                type: string
                              web_url:
                                type: string
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          system:
                            type: boolean
                          noteable_id:
                            type: integer
                          noteable_type:
                            type: string
                          noteable_iid:
                            type: string
                          resolved:
                            type: boolean
                          resolvable:
                            type: boolean
                          resolved_by:
                            type: string
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: merge_request_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of a merge request
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: The content of the thread
                created_at:
                  type: string
                  description: >-
                    Date time string, ISO 8601 formatted, e.g.
                    2016-03-11T03:45:40Z (requires admin or project/group owner
                    rights)
                position:
                  type: object
                  description: Position when creating a diff note
                'position[base_sha]':
                  type: string
                  description: Base commit SHA in the source branch
                'position[start_sha]':
                  type: string
                  description: SHA referencing commit in target branch
                'position[head_sha]':
                  type: string
                  description: SHA referencing HEAD of this merge request
                'position[position_type]':
                  type: string
                  description: >-
                    Type of the position reference’, allowed values: ‘text’ or
                    ‘image’
                'position[new_path]':
                  type: string
                  description: File path after change
                'position[new_line]':
                  type: integer
                  description: Line number after change (for ‘text’ diff notes)
                'position[old_path]':
                  type: string
                  description: File path before change
                'position[old_line]':
                  type: integer
                  description: Line number before change (for ‘text’ diff notes)
                'position[line_range]':
                  type: object
                  description: Line range for a multi-line diff note
                'position[line_range][start]':
                  type: object
                  description: Multiline note starting line
                'position[line_range][start][line_code]':
                  type: string
                  description: Line code for the start line
                'position[line_range][start][type]':
                  type: string
                  description: Line type for the start line
                'position[line_range][end]':
                  type: object
                  description: Multiline note ending line
                'position[line_range][end][line_code]':
                  type: string
                  description: Line code for the end line
                'position[line_range][end][type]':
                  type: string
                  description: Line type for the end line
                'position[width]':
                  type: integer
                  description: Width of the image (for ‘image’ diff notes)
                'position[height]':
                  type: integer
                  description: Height of the image (for ‘image’ diff notes)
                'position[x]':
                  type: integer
                  description: X coordinate (for ‘image’ diff notes)
                'position[y]':
                  type: integer
                  description: Y coordinate (for ‘image’ diff notes)
              required:
                - body
                - 'position[base_sha]'
                - 'position[start_sha]'
                - 'position[head_sha]'
                - 'position[position_type]'
                - 'position[line_range][start][line_code]'
                - 'position[line_range][start][type]'
                - 'position[line_range][end][line_code]'
                - 'position[line_range][end][type]'
      responses:
        '200':
          description: success
  '/projects/{id}/merge_requests/{merge_request_iid}/discussions/{discussion_id}':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: merge_request_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of a merge request
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a discussion item
      responses:
        '200':
          description: success
    put:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: merge_request_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of a merge request
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: resolved
          schema:
            type: boolean
          required: true
          in: query
          description: Resolve/unresolve the discussion
      responses:
        '200':
          description: success
  '/projects/{id}/merge_requests/{merge_request_iid}/discussions/{discussion_id}/notes':
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: merge_request_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of a merge request
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: query
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: true
          in: query
          description: The content of the note/reply
        - name: created_at
          schema:
            type: string
          required: false
          in: query
          description: >-
            Date time string, ISO 8601 formatted, e.g. 2016-03-11T03:45:40Z
            (requires admin or project/group owner rights)
      responses:
        '200':
          description: success
  '/projects/{id}/merge_requests/{merge_request_iid}/discussions/{discussion_id}/notes/{note_id}':
    put:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: merge_request_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of a merge request
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: false
          in: query
          description: >-
            The content of the note/reply (exactly one of body or resolved must
            be set
        - name: resolved
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Resolve/unresolve the note (exactly one of body or resolved must be
            set
      responses:
        '200':
          description: success
    delete:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: merge_request_iid
          schema:
            type: integer
          required: true
          in: path
          description: The IID of a merge request
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
      responses:
        '200':
          description: success
  '/projects/{id}/commits/{commit_id}/discussions':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: commit_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a commit
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    individual_note:
                      type: boolean
                    notes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          body:
                            type: string
                          attachment:
                            type: string
                          author:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              username:
                                type: string
                              state:
                                type: string
                              avatar_url:
                                type: string
                              web_url:
                                type: string
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          system:
                            type: boolean
                          noteable_id:
                            type: integer
                          noteable_type:
                            type: string
                          noteable_iid:
                            type: string
                          resolvable:
                            type: boolean
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: commit_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a commit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: The content of the thread
                created_at:
                  type: string
                  description: >-
                    Date time string, ISO 8601 formatted, e.g.
                    2016-03-11T03:45:40Z (requires admin or project/group owner
                    rights)
                position:
                  type: object
                  description: Position when creating a diff note
                'position[base_sha]':
                  type: string
                  description: Base commit SHA in the source branch
                'position[start_sha]':
                  type: string
                  description: SHA referencing commit in target branch
                'position[head_sha]':
                  type: string
                  description: SHA referencing HEAD of this commit
                'position[position_type]':
                  type: string
                  description: >-
                    Type of the position reference’, allowed values: ‘text’ or
                    ‘image’
                'position[new_path]':
                  type: string
                  description: File path after change
                'position[new_line]':
                  type: integer
                  description: Line number after change
                'position[old_path]':
                  type: string
                  description: File path before change
                'position[old_line]':
                  type: integer
                  description: Line number before change
                'position[width]':
                  type: integer
                  description: Width of the image (for ‘image’ diff notes)
                'position[height]':
                  type: integer
                  description: Height of the image (for ‘image’ diff notes)
                'position[x]':
                  type: integer
                  description: X coordinate (for ‘image’ diff notes)
                'position[y]':
                  type: integer
                  description: Y coordinate (for ‘image’ diff notes)
              required:
                - body
                - 'position[base_sha]'
                - 'position[start_sha]'
                - 'position[head_sha]'
                - 'position[position_type]'
      responses:
        '200':
          description: success
  '/projects/{id}/commits/{commit_id}/discussions/{discussion_id}':
    get:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: commit_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a commit
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a discussion item
      responses:
        '200':
          description: success
  '/projects/{id}/commits/{commit_id}/discussions/{discussion_id}/notes':
    post:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: commit_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a commit
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note_id:
                  type: integer
                  description: The ID of a thread note
                body:
                  type: string
                  description: The content of the note/reply
                created_at:
                  type: string
                  description: >-
                    Date time string, ISO 8601 formatted, e.g.
                    2016-03-11T03:45:40Z (requires admin or project/group owner
                    rights)
              required:
                - id
                - commit_id
                - discussion_id
                - note_id
                - body
      responses:
        '200':
          description: success
  '/projects/{id}/commits/{commit_id}/discussions/{discussion_id}/notes/{note_id}':
    put:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: commit_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a commit
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
        - name: body
          schema:
            type: string
          required: false
          in: query
          description: The content of a note
      responses:
        '200':
          description: success
    delete:
      tags:
        - Discussions
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: commit_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a commit
        - name: discussion_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread
        - name: note_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a thread note
      responses:
        '200':
          description: success
