openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/environments':
    get:
      tags:
        - Environments
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: name
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return the environment with this name. Mutually exclusive with
            search
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return list of environments matching the search criteria. Mutually
            exclusive with name
        - name: states
          schema:
            type: string
          required: false
          in: query
          description: >-
            List all environments that match a specific state. Accepted values:
            available or stopped. If no state value given, returns all
            environments.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    slug:
                      type: string
                    external_url:
                      type: string
                    state:
                      type: string
    post:
      tags:
        - Environments
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: name
          schema:
            type: string
          required: true
          in: query
          description: The name of the environment
        - name: external_url
          schema:
            type: string
          required: false
          in: query
          description: Place to link to for this environment
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  external_url:
                    type: string
                  state:
                    type: string
  '/projects/{id}/environments/{environment_id}':
    get:
      tags:
        - Environments
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: environment_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the environment
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  external_url:
                    type: string
                  state:
                    type: string
                  last_deployment:
                    type: object
                    properties:
                      id:
                        type: integer
                      iid:
                        type: integer
                      ref:
                        type: string
                      sha:
                        type: string
                      created_at:
                        type: string
                      status:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          state:
                            type: string
                          username:
                            type: string
                          avatar_url:
                            type: string
                          web_url:
                            type: string
                      deployable:
                        type: object
                        properties:
                          id:
                            type: integer
                          status:
                            type: string
                          stage:
                            type: string
                          name:
                            type: string
                          ref:
                            type: string
                          tag:
                            type: boolean
                          coverage:
                            type: string
                          created_at:
                            type: string
                          started_at:
                            type: string
                          finished_at:
                            type: string
                          duration:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              username:
                                type: string
                              state:
                                type: string
                              avatar_url:
                                type: string
                              web_url:
                                type: string
                              created_at:
                                type: string
                              bio:
                                type: string
                              location:
                                type: string
                              public_email:
                                type: string
                              skype:
                                type: string
                              linkedin:
                                type: string
                              twitter:
                                type: string
                              website_url:
                                type: string
                              organization:
                                type: string
                          commit:
                            type: object
                            properties:
                              id:
                                type: string
                              short_id:
                                type: string
                              created_at:
                                type: string
                              parent_ids:
                                type: array
                                items:
                                  type: string
                              title:
                                type: string
                              message:
                                type: string
                              author_name:
                                type: string
                              author_email:
                                type: string
                              authored_date:
                                type: string
                              committer_name:
                                type: string
                              committer_email:
                                type: string
                              committed_date:
                                type: string
                          pipeline:
                            type: object
                            properties:
                              id:
                                type: integer
                              sha:
                                type: string
                              ref:
                                type: string
                              status:
                                type: string
                              web_url:
                                type: string
                          web_url:
                            type: string
                          artifacts:
                            type: array
                            items:
                              type: object
                              properties:
                                file_type:
                                  type: string
                                size:
                                  type: integer
                                filename:
                                  type: string
                                file_format:
                                  type: string
                          runner:
                            type: string
                          artifacts_expire_at:
                            type: string
    put:
      tags:
        - Environments
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: environment_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the environment
        - name: name
          schema:
            type: string
          required: false
          in: query
          description: The new name of the environment
        - name: external_url
          schema:
            type: string
          required: false
          in: query
          description: The new external_url
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  external_url:
                    type: string
                  state:
                    type: string
    delete:
      tags:
        - Environments
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: environment_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the environment
      responses:
        '200':
          description: success
  '/projects/{id}/environments/{environment_id}/stop':
    post:
      tags:
        - Environments
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: environment_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the environment
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  external_url:
                    type: string
                  state:
                    type: string
