openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/groups/{id}/epics':
    get:
      tags:
        - Epics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: author_id
          schema:
            type: integer
          required: false
          in: query
          description: Return epics created by the given user id
        - name: labels
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return epics matching a comma separated list of labels names. Label
            names from the epic group or a parent group can be used
        - name: with_labels_details
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            If true, response will return more details for each label in labels
            field: :name, :color, :description, :description_html, :text_color.
            Default is false. Introduced in GitLab 12.7
        - name: order_by
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return epics ordered by created_at or updated_at fields. Default is
            created_at
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Return epics sorted in asc or desc order. Default is desc
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Search epics against their title and description
        - name: state
          schema:
            type: string
          required: false
          in: query
          description: >-
            Search epics against their state, possible filters: opened, closed
            and all, default: all
        - name: created_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return epics created on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: created_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return epics created on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return epics updated on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return epics updated on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: include_ancestor_groups
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Include epics from the requested group¡¯s ancestors. Default is
            false
        - name: include_descendant_groups
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Include epics from the requested group¡¯s descendants. Default is
            true
        - name: my_reaction_emoji
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return epics reacted by the authenticated user by the given emoji.
            None returns epics not given a reaction. Any returns epics given at
            least one reaction. Introduced in GitLab 13.0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    iid:
                      type: integer
                    group_id:
                      type: integer
                    parent_id:
                      type: integer
                    title:
                      type: string
                    description:
                      type: string
                    state:
                      type: string
                    confidential:
                      type: string
                    web_url:
                      type: string
                    reference:
                      type: string
                    references:
                      type: object
                      properties:
                        short:
                          type: string
                        relative:
                          type: string
                        full:
                          type: string
                    author:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        username:
                          type: string
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    start_date:
                      type: string
                    start_date_is_fixed:
                      type: boolean
                    start_date_fixed:
                      type: string
                    start_date_from_milestones:
                      type: string
                    start_date_from_inherited_source:
                      type: string
                    end_date:
                      type: string
                    due_date:
                      type: string
                    due_date_is_fixed:
                      type: boolean
                    due_date_fixed:
                      type: string
                    due_date_from_milestones:
                      type: string
                    due_date_from_inherited_source:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    closed_at:
                      type: string
                    labels:
                      type: array
                      items:
                        type: object
                    upvotes:
                      type: integer
                    downvotes:
                      type: integer
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        epic_issues:
                          type: string
                        group:
                          type: string
    post:
      tags:
        - Epics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the epic
                labels:
                  type: string
                  description: The comma separated list of labels
                description:
                  type: string
                  description: >-
                    The description of the epic. Limited to 1,048,576
                    characters.
                confidential:
                  type: boolean
                  description: Whether the epic should be confidential
                created_at:
                  type: string
                  description: >-
                    When the epic was created. Date time string, ISO 8601
                    formatted, for example 2016-03-11T03:45:40Z . Requires
                    administrator or project/group owner privileges (introduced
                    in GitLab 13.5)
                start_date_is_fixed:
                  type: boolean
                  description: >-
                    Whether start date should be sourced from start_date_fixed
                    or from milestones (since 11.3)
                start_date_fixed:
                  type: string
                  description: The fixed start date of an epic (since 11.3)
                due_date_is_fixed:
                  type: boolean
                  description: >-
                    Whether due date should be sourced from due_date_fixed or
                    from milestones (since 11.3)
                due_date_fixed:
                  type: string
                  description: The fixed due date of an epic (since 11.3)
                parent_id:
                  oneOf:
                    - type: integer
                    - type: string
                  description: The ID of a parent epic (since 11.11)
              required:
                - title
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  iid:
                    type: integer
                  group_id:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  state:
                    type: string
                  confidential:
                    type: string
                  web_url:
                    type: string
                  reference:
                    type: string
                  references:
                    type: object
                    properties:
                      short:
                        type: string
                      relative:
                        type: string
                      full:
                        type: string
                  author:
                    type: object
                    properties:
                      name:
                        type: string
                      avatar_url:
                        type: string
                      state:
                        type: string
                      web_url:
                        type: string
                      id:
                        type: integer
                      username:
                        type: string
                  start_date:
                    type: string
                  start_date_is_fixed:
                    type: boolean
                  start_date_fixed:
                    type: string
                  start_date_from_milestones:
                    type: string
                  start_date_from_inherited_source:
                    type: string
                  end_date:
                    type: string
                  due_date:
                    type: string
                  due_date_is_fixed:
                    type: boolean
                  due_date_fixed:
                    type: string
                  due_date_from_milestones:
                    type: string
                  due_date_from_inherited_source:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  closed_at:
                    type: string
                  labels:
                    type: array
                    items:
                      type: object
                  upvotes:
                    type: integer
                  downvotes:
                    type: integer
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      epic_issues:
                        type: string
                      group:
                        type: string
  '/groups/:{id}/epics/{epic_iid}':
    get:
      tags:
        - Epics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: epic_iid
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The internal ID of the epic.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  iid:
                    type: integer
                  group_id:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  state:
                    type: string
                  web_url:
                    type: string
                  reference:
                    type: string
                  references:
                    type: object
                    properties:
                      short:
                        type: string
                      relative:
                        type: string
                      full:
                        type: string
                  author:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      username:
                        type: string
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  start_date:
                    type: string
                  start_date_is_fixed:
                    type: boolean
                  start_date_fixed:
                    type: string
                  start_date_from_milestones:
                    type: string
                  start_date_from_inherited_source:
                    type: string
                  end_date:
                    type: string
                  due_date:
                    type: string
                  due_date_is_fixed:
                    type: boolean
                  due_date_fixed:
                    type: string
                  due_date_from_milestones:
                    type: string
                  due_date_from_inherited_source:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  closed_at:
                    type: string
                  labels:
                    type: array
                    items:
                      type: object
                  upvotes:
                    type: integer
                  downvotes:
                    type: integer
                  subscribed:
                    type: boolean
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      epic_issues:
                        type: string
                      group:
                        type: string
    put:
      tags:
        - Epics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: epic_iid
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The internal ID of the epic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of an epic
                description:
                  type: string
                  description: 'The description of an epic. Limited to 1,048,576 characters.'
                confidential:
                  type: boolean
                  description: Whether the epic should be confidential
                labels:
                  type: string
                  description: >-
                    Comma-separated label names for an issue. Set to an empty
                    string to unassign all labels.
                add_labels:
                  type: string
                  description: Comma-separated label names to add to an issue.
                remove_labels:
                  type: string
                  description: Comma-separated label names to remove from an issue.
                updated_at:
                  type: string
                  description: >-
                    When the epic was updated. Date time string, ISO 8601
                    formatted, for example 2016-03-11T03:45:40Z . Requires
                    administrator or project/group owner privileges (introduced
                    in GitLab 13.5)
                start_date_is_fixed:
                  type: boolean
                  description: >-
                    Whether start date should be sourced from start_date_fixed
                    or from milestones (since 11.3)
                start_date_fixed:
                  type: string
                  description: The fixed start date of an epic (since 11.3)
                due_date_is_fixed:
                  type: boolean
                  description: >-
                    Whether due date should be sourced from due_date_fixed or
                    from milestones (since 11.3)
                due_date_fixed:
                  type: string
                  description: The fixed due date of an epic (since 11.3)
                state_event:
                  type: string
                  description: >-
                    State event for an epic. Set close to close the epic and
                    reopen to reopen it (since 11.4)
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  iid:
                    type: integer
                  group_id:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  state:
                    type: string
                  confidential:
                    type: string
                  web_url:
                    type: string
                  reference:
                    type: string
                  references:
                    type: object
                    properties:
                      short:
                        type: string
                      relative:
                        type: string
                      full:
                        type: string
                  author:
                    type: object
                    properties:
                      name:
                        type: string
                      avatar_url:
                        type: string
                      state:
                        type: string
                      web_url:
                        type: string
                      id:
                        type: integer
                      username:
                        type: string
                  start_date:
                    type: string
                  start_date_is_fixed:
                    type: boolean
                  start_date_fixed:
                    type: string
                  start_date_from_milestones:
                    type: string
                  start_date_from_inherited_source:
                    type: string
                  end_date:
                    type: string
                  due_date:
                    type: string
                  due_date_is_fixed:
                    type: boolean
                  due_date_fixed:
                    type: string
                  due_date_from_milestones:
                    type: string
                  due_date_from_inherited_source:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  closed_at:
                    type: string
                  labels:
                    type: array
                    items:
                      type: object
                  upvotes:
                    type: integer
                  downvotes:
                    type: integer
    delete:
      tags:
        - Epics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: epic_iid
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The internal ID of the epic.
      responses:
        '200':
          description: success
  '/groups/{id}/epics/{epic_iid}/todo':
    post:
      tags:
        - Epics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: epic_iid
          schema:
            type: integer
          required: true
          in: path
          description: The internal ID of a group’s epic
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  group:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      path:
                        type: string
                      kind:
                        type: string
                      full_path:
                        type: string
                      parent_id:
                        type: string
                  author:
                    type: object
                    properties:
                      name:
                        type: string
                      username:
                        type: string
                      id:
                        type: integer
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  action_name:
                    type: string
                  target_type:
                    type: string
                  target:
                    type: object
                    properties:
                      id:
                        type: integer
                      iid:
                        type: integer
                      group_id:
                        type: integer
                      title:
                        type: string
                      description:
                        type: string
                      author:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          username:
                            type: string
                          state:
                            type: string
                          avatar_url:
                            type: string
                          web_url:
                            type: string
                      web_url:
                        type: string
                      reference:
                        type: string
                      references:
                        type: object
                        properties:
                          short:
                            type: string
                          relative:
                            type: string
                          full:
                            type: string
                      start_date:
                        type: string
                      end_date:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      closed_at:
                        type: string
                  target_url:
                    type: string
                  body:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
