openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  /events:
    get:
      tags:
        - Events
      parameters:
        - name: action
          schema:
            type: string
          required: false
          in: query
          description: Include only events of a particular action type
        - name: target_type
          schema:
            type: string
          required: false
          in: query
          description: Include only events of a particular target type
        - name: before
          schema:
            type: string
            format: date
          required: false
          in: query
          description: >-
            Include only events created before a particular date. Please see
            here for the supported format
        - name: after
          schema:
            type: string
            format: date
          required: false
          in: query
          description: >-
            Include only events created after a particular date. Please see here
            for the supported format
        - name: scope
          schema:
            type: string
          required: false
          in: query
          description: Include all events across a user¡¯s projects.
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Sort events in asc or desc order by created_at. Default is desc
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    project_id:
                      type: integer
                    action_name:
                      type: string
                    target_id:
                      type: integer
                    target_type:
                      type: string
                    author_id:
                      type: integer
                    target_title:
                      type: string
                    created_at:
                      type: string
                    author:
                      type: object
                      properties:
                        name:
                          type: string
                        username:
                          type: string
                        id:
                          type: integer
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    author_username:
                      type: string
  '/users/{id}/events':
    get:
      tags:
        - Events
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID or Username of the user
        - name: action
          schema:
            type: string
          required: false
          in: query
          description: Include only events of a particular action type
        - name: target_type
          schema:
            type: string
          required: false
          in: query
          description: Include only events of a particular target type
        - name: before
          schema:
            type: string
            format: date
          required: false
          in: query
          description: >-
            Include only events created before a particular date. Please see
            here for the supported format
        - name: after
          schema:
            type: string
            format: date
          required: false
          in: query
          description: >-
            Include only events created after a particular date. Please see here
            for the supported format
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Sort events in asc or desc order by created_at. Default is desc
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    project_id:
                      type: integer
                    action_name:
                      type: string
                    target_id:
                      type: integer
                    target_type:
                      type: string
                    author_id:
                      type: integer
                    target_title:
                      type: string
                    author:
                      type: object
                      properties:
                        name:
                          type: string
                        username:
                          type: string
                        id:
                          type: integer
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    author_username:
                      type: string
  '/projects/{project_id}/events':
    get:
      tags:
        - Events
      parameters:
        - name: project_id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project
        - name: action
          schema:
            type: string
          required: false
          in: query
          description: Include only events of a particular action type
        - name: target_type
          schema:
            type: string
          required: false
          in: query
          description: Include only events of a particular target type
        - name: before
          schema:
            type: string
            format: date
          required: false
          in: query
          description: >-
            Include only events created before a particular date. Please see
            here for the supported format
        - name: after
          schema:
            type: string
            format: date
          required: false
          in: query
          description: >-
            Include only events created after a particular date. Please see here
            for the supported format
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Sort events in asc or desc order by created_at. Default is desc
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    project_id:
                      type: integer
                    action_name:
                      type: string
                    target_id:
                      type: integer
                    target_iid:
                      type: integer
                    target_type:
                      type: string
                    author_id:
                      type: integer
                    target_title:
                      type: string
                    created_at:
                      type: string
                    author:
                      type: object
                      properties:
                        name:
                          type: string
                        username:
                          type: string
                        id:
                          type: integer
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    author_username:
                      type: string
