openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/feature_flags_user_lists':
    get:
      tags:
        - Feature flag user lists
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project.
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Return user lists matching the search criteria.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    user_xids:
                      type: string
                    id:
                      type: integer
                    iid:
                      type: integer
                    project_id:
                      type: integer
                    created_at:
                      type: string
                    updated_at:
                      type: string
    post:
      tags:
        - Feature flag user lists
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the feature flag.
                user_xids:
                  type: string
                  description: A comma separated list of user IDs.
              required:
                - name
                - user_xids
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  user_xids:
                    type: string
                  id:
                    type: integer
                  iid:
                    type: integer
                  project_id:
                    type: integer
                  created_at:
                    type: string
                  updated_at:
                    type: string
  '/projects/{id}/feature_flags_user_lists/{iid}':
    get:
      tags:
        - Feature flag user lists
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project.
        - name: iid
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The internal ID of the project’s feature flag user list.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  user_xids:
                    type: string
                  id:
                    type: integer
                  iid:
                    type: integer
                  project_id:
                    type: integer
                  created_at:
                    type: string
                  updated_at:
                    type: string
    put:
      tags:
        - Feature flag user lists
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project.
        - name: iid
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The internal ID of the project’s feature flag user list.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  user_xids:
                    type: string
                  id:
                    type: integer
                  iid:
                    type: integer
                  project_id:
                    type: integer
                  created_at:
                    type: string
                  updated_at:
                    type: string
    delete:
      tags:
        - Feature flag user lists
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the project.
        - name: iid
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The internal ID of the project’s feature flag user list
      responses:
        '200':
          description: success
