openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  /groups:
    get:
      tags:
        - Group
      parameters:
        - name: skip_groups
          schema:
            type: array
            items:
              type: integer
          required: false
          in: query
          description: Skip the group IDs passed
        - name: all_available
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Show all the groups you have access to (defaults to false for
            authenticated users, true for admin); Attributes owned and
            min_access_level have precedence
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Return the list of authorized groups matching the search criteria
        - name: order_by
          schema:
            type: string
          required: false
          in: query
          description: 'Order groups by name, path or id. Default is name'
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Order groups in asc or desc order. Default is asc
        - name: statistics
          schema:
            type: boolean
          required: false
          in: query
          description: Include group statistics (admins only)
        - name: with_custom_attributes
          schema:
            type: boolean
          required: false
          in: query
          description: Include custom attributes in response (admins only)
        - name: owned
          schema:
            type: boolean
          required: false
          in: query
          description: Limit to groups explicitly owned by the current user
        - name: min_access_level
          schema:
            type: integer
          required: false
          in: query
          description: Limit to groups where current user has at least this access level
        - name: top_level_only
          schema:
            type: boolean
          required: false
          in: query
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    path:
                      type: string
                    description:
                      type: string
                    visibility:
                      type: string
                    share_with_group_lock:
                      type: boolean
                    require_two_factor_authentication:
                      type: boolean
                    two_factor_grace_period:
                      type: integer
                    project_creation_level:
                      type: string
                    auto_devops_enabled:
                      type: string
                    subgroup_creation_level:
                      type: string
                    emails_disabled:
                      type: string
                    mentions_disabled:
                      type: string
                    lfs_enabled:
                      type: boolean
                    default_branch_protection:
                      type: integer
                    avatar_url:
                      type: string
                    web_url:
                      type: string
                    request_access_enabled:
                      type: boolean
                    full_name:
                      type: string
                    full_path:
                      type: string
                    file_template_project_id:
                      type: integer
                    parent_id:
                      type: string
                    created_at:
                      type: string
    post:
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the group.
                path:
                  type: string
                  description: The path of the group.
                description:
                  type: string
                  description: The group’s description.
                membership_lock:
                  type: boolean
                  description: >-
                    Prevent adding new members to project membership within this
                    group.
                visibility:
                  type: string
                  description: 'The group’s visibility. Can be private, internal, or public.'
                share_with_group_lock:
                  type: boolean
                  description: >-
                    Prevent sharing a project with another group within this
                    group.
                require_two_factor_authentication:
                  type: boolean
                  description: >-
                    Require all users in this group to setup Two-factor
                    authentication.
                two_factor_grace_period:
                  type: integer
                  description: >-
                    Time before Two-factor authentication is enforced (in
                    hours).
                project_creation_level:
                  type: string
                  description: >-
                    Determine if developers can create projects in the group.
                    Can be noone (No one), maintainer (Maintainers), or
                    developer (Developers + Maintainers).
                auto_devops_enabled:
                  type: boolean
                  description: >-
                    Default to Auto DevOps pipeline for all projects within this
                    group.
                subgroup_creation_level:
                  type: string
                  description: >-
                    Allowed to create subgroups. Can be owner (Owners), or
                    maintainer (Maintainers).
                emails_disabled:
                  type: boolean
                  description: Disable email notifications
                avatar:
                  type: string
                  format: mixed
                  description: >-
                    Image file for avatar of the group. Introduced in GitLab
                    12.9
                mentions_disabled:
                  type: boolean
                  description: Disable the capability of a group from getting mentioned
                lfs_enabled:
                  type: boolean
                  description: >-
                    Enable/disable Large File Storage (LFS) for the projects in
                    this group.
                request_access_enabled:
                  type: boolean
                  description: Allow users to request member access.
                parent_id:
                  type: integer
                  description: The parent group ID for creating nested group.
                default_branch_protection:
                  type: integer
                  description: >-
                    See Options for default_branch_protection. Default to the
                    global level default branch protection setting.
                shared_runners_minutes_limit:
                  type: integer
                  description: >-
                    Pipeline minutes quota for this group (included in plan).
                    Can be nil (default; inherit system default), 0 (unlimited)
                    or > 0
                extra_shared_runners_minutes_limit:
                  type: integer
                  description: >-
                    Extra pipeline minutes quota for this group (purchased in
                    addition to the minutes included in the plan).
                shared_runners_setting:
                  type: string
                  description: >-
                    See Options for shared_runners_setting. Enable or disable
                    shared runners for a group’s subgroups and projects.
              required:
                - name
                - path
      responses:
        '200':
          description: success
  '/groups/{id}/subgroups':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group of the immediate parent
            group
        - name: skip_groups
          schema:
            type: array
            items:
              type: integer
          required: false
          in: query
          description: Skip the group IDs passed
        - name: all_available
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Show all the groups you have access to (defaults to false for
            authenticated users, true for admin); Attributes owned and
            min_access_level have precedence
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Return the list of authorized groups matching the search criteria
        - name: order_by
          schema:
            type: string
          required: false
          in: query
          description: 'Order groups by name, path or id. Default is name'
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Order groups in asc or desc order. Default is asc
        - name: statistics
          schema:
            type: boolean
          required: false
          in: query
          description: Include group statistics (admins only)
        - name: with_custom_attributes
          schema:
            type: boolean
          required: false
          in: query
          description: Include custom attributes in response (admins only)
        - name: owned
          schema:
            type: boolean
          required: false
          in: query
          description: Limit to groups explicitly owned by the current user
        - name: min_access_level
          schema:
            type: integer
          required: false
          in: query
          description: Limit to groups where current user has at least this access level
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    path:
                      type: string
                    description:
                      type: string
                    visibility:
                      type: string
                    share_with_group_lock:
                      type: boolean
                    require_two_factor_authentication:
                      type: boolean
                    two_factor_grace_period:
                      type: integer
                    project_creation_level:
                      type: string
                    auto_devops_enabled:
                      type: string
                    subgroup_creation_level:
                      type: string
                    emails_disabled:
                      type: string
                    mentions_disabled:
                      type: string
                    lfs_enabled:
                      type: boolean
                    default_branch_protection:
                      type: integer
                    avatar_url:
                      type: string
                    web_url:
                      type: string
                    request_access_enabled:
                      type: boolean
                    full_name:
                      type: string
                    full_path:
                      type: string
                    file_template_project_id:
                      type: integer
                    parent_id:
                      type: integer
                    created_at:
                      type: string
  '/groups/{id}/descendant_groups':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group of the immediate parent
            group
        - name: skip_groups
          schema:
            type: array
            items:
              type: integer
          required: false
          in: query
          description: Skip the group IDs passed
        - name: all_available
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Show all the groups you have access to (defaults to false for
            authenticated users, true for admin). Attributes owned and
            min_access_level have precedence
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Return the list of authorized groups matching the search criteria
        - name: order_by
          schema:
            type: string
          required: false
          in: query
          description: 'Order groups by name, path, or id. Default is name'
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Order groups in asc or desc order. Default is asc
        - name: statistics
          schema:
            type: boolean
          required: false
          in: query
          description: Include group statistics (admins only)
        - name: with_custom_attributes
          schema:
            type: boolean
          required: false
          in: query
          description: Include custom attributes in response (admins only)
        - name: owned
          schema:
            type: boolean
          required: false
          in: query
          description: Limit to groups explicitly owned by the current user
        - name: min_access_level
          schema:
            type: integer
          required: false
          in: query
          description: Limit to groups where current user has at least this access level
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    path:
                      type: string
                    description:
                      type: string
                    visibility:
                      type: string
                    share_with_group_lock:
                      type: boolean
                    require_two_factor_authentication:
                      type: boolean
                    two_factor_grace_period:
                      type: integer
                    project_creation_level:
                      type: string
                    auto_devops_enabled:
                      type: string
                    subgroup_creation_level:
                      type: string
                    emails_disabled:
                      type: string
                    mentions_disabled:
                      type: string
                    lfs_enabled:
                      type: boolean
                    default_branch_protection:
                      type: integer
                    avatar_url:
                      type: string
                    web_url:
                      type: string
                    request_access_enabled:
                      type: boolean
                    full_name:
                      type: string
                    full_path:
                      type: string
                    file_template_project_id:
                      type: integer
                    parent_id:
                      type: integer
                    created_at:
                      type: string
  '/groups/{id}/projects':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: archived
          schema:
            type: boolean
          required: false
          in: query
          description: Limit by archived status
        - name: visibility
          schema:
            type: string
          required: false
          in: query
          description: 'Limit by visibility public, internal, or private'
        - name: order_by
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return projects ordered by id, name, path, created_at, updated_at,
            similarity (1), or last_activity_at fields. Default is created_at
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Return projects sorted in asc or desc order. Default is desc
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Return list of authorized projects matching the search criteria
        - name: simple
          schema:
            type: boolean
          required: false
          in: query
          description: 'Return only the ID, URL, name, and path of each project'
        - name: owned
          schema:
            type: boolean
          required: false
          in: query
          description: Limit by projects owned by the current user
        - name: starred
          schema:
            type: boolean
          required: false
          in: query
          description: Limit by projects starred by the current user
        - name: with_issues_enabled
          schema:
            type: boolean
          required: false
          in: query
          description: Limit by projects with issues feature enabled. Default is false
        - name: with_merge_requests_enabled
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Limit by projects with merge requests feature enabled. Default is
            false
        - name: with_shared
          schema:
            type: boolean
          required: false
          in: query
          description: Include projects shared to this group. Default is true
        - name: include_subgroups
          schema:
            type: boolean
          required: false
          in: query
          description: Include projects in subgroups of this group. Default is false
        - name: min_access_level
          schema:
            type: integer
          required: false
          in: query
          description: Limit to projects where current user has at least this access level
        - name: with_custom_attributes
          schema:
            type: boolean
          required: false
          in: query
          description: Include custom attributes in response (admins only)
        - name: with_security_reports
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Return only projects that have security reports artifacts present in
            any of their builds. This means “projects with security reports
            enabled”. Default is false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    description:
                      type: string
                    default_branch:
                      type: string
                    tag_list:
                      type: array
                      items:
                        type: object
                    archived:
                      type: boolean
                    visibility:
                      type: string
                    ssh_url_to_repo:
                      type: string
                    http_url_to_repo:
                      type: string
                    web_url:
                      type: string
                    name:
                      type: string
                    name_with_namespace:
                      type: string
                    path:
                      type: string
                    path_with_namespace:
                      type: string
                    issues_enabled:
                      type: boolean
                    merge_requests_enabled:
                      type: boolean
                    wiki_enabled:
                      type: boolean
                    jobs_enabled:
                      type: boolean
                    snippets_enabled:
                      type: boolean
                    created_at:
                      type: string
                    last_activity_at:
                      type: string
                    shared_runners_enabled:
                      type: boolean
                    creator_id:
                      type: integer
                    namespace:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        path:
                          type: string
                        kind:
                          type: string
                    avatar_url:
                      type: string
                    star_count:
                      type: integer
                    forks_count:
                      type: integer
                    open_issues_count:
                      type: integer
                    public_jobs:
                      type: boolean
                    shared_with_groups:
                      type: array
                      items:
                        type: object
                    request_access_enabled:
                      type: boolean
  '/groups/{id}/projects/shared':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: archived
          schema:
            type: boolean
          required: false
          in: query
          description: Limit by archived status
        - name: visibility
          schema:
            type: string
          required: false
          in: query
          description: 'Limit by visibility public, internal, or private'
        - name: order_by
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return projects ordered by id, name, path, created_at, updated_at,
            or last_activity_at fields. Default is created_at
        - name: sort
          schema:
            type: string
          required: false
          in: query
          description: Return projects sorted in asc or desc order. Default is desc
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Return list of authorized projects matching the search criteria
        - name: simple
          schema:
            type: boolean
          required: false
          in: query
          description: 'Return only the ID, URL, name, and path of each project'
        - name: starred
          schema:
            type: boolean
          required: false
          in: query
          description: Limit by projects starred by the current user
        - name: with_issues_enabled
          schema:
            type: boolean
          required: false
          in: query
          description: Limit by projects with issues feature enabled. Default is false
        - name: with_merge_requests_enabled
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Limit by projects with merge requests feature enabled. Default is
            false
        - name: min_access_level
          schema:
            type: integer
          required: false
          in: query
          description: Limit to projects where current user has at least this access level
        - name: with_custom_attributes
          schema:
            type: boolean
          required: false
          in: query
          description: Include custom attributes in response (admins only)
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    description:
                      type: string
                    name:
                      type: string
                    name_with_namespace:
                      type: string
                    path:
                      type: string
                    path_with_namespace:
                      type: string
                    created_at:
                      type: string
                    default_branch:
                      type: string
                    tag_list:
                      type: array
                      items:
                        type: object
                    ssh_url_to_repo:
                      type: string
                    http_url_to_repo:
                      type: string
                    web_url:
                      type: string
                    readme_url:
                      type: string
                    avatar_url:
                      type: string
                    star_count:
                      type: integer
                    forks_count:
                      type: integer
                    last_activity_at:
                      type: string
                    namespace:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        path:
                          type: string
                        kind:
                          type: string
                        full_path:
                          type: string
                        parent_id:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        issues:
                          type: string
                        merge_requests:
                          type: string
                        repo_branches:
                          type: string
                        labels:
                          type: string
                        events:
                          type: string
                        members:
                          type: string
                    empty_repo:
                      type: boolean
                    archived:
                      type: boolean
                    visibility:
                      type: string
                    resolve_outdated_diff_discussions:
                      type: boolean
                    container_registry_enabled:
                      type: boolean
                    container_expiration_policy:
                      type: object
                      properties:
                        cadence:
                          type: string
                        enabled:
                          type: boolean
                        keep_n:
                          type: string
                        older_than:
                          type: string
                        name_regex:
                          type: string
                        name_regex_keep:
                          type: string
                        next_run_at:
                          type: string
                    issues_enabled:
                      type: boolean
                    merge_requests_enabled:
                      type: boolean
                    wiki_enabled:
                      type: boolean
                    jobs_enabled:
                      type: boolean
                    snippets_enabled:
                      type: boolean
                    can_create_merge_request_in:
                      type: boolean
                    issues_access_level:
                      type: string
                    repository_access_level:
                      type: string
                    merge_requests_access_level:
                      type: string
                    forking_access_level:
                      type: string
                    wiki_access_level:
                      type: string
                    builds_access_level:
                      type: string
                    snippets_access_level:
                      type: string
                    pages_access_level:
                      type: string
                    emails_disabled:
                      type: string
                    shared_runners_enabled:
                      type: boolean
                    lfs_enabled:
                      type: boolean
                    creator_id:
                      type: integer
                    import_status:
                      type: string
                    open_issues_count:
                      type: integer
                    ci_default_git_depth:
                      type: integer
                    ci_forward_deployment_enabled:
                      type: boolean
                    public_jobs:
                      type: boolean
                    build_timeout:
                      type: integer
                    auto_cancel_pending_pipelines:
                      type: string
                    build_coverage_regex:
                      type: string
                    ci_config_path:
                      type: string
                    shared_with_groups:
                      type: array
                      items:
                        type: object
                        properties:
                          group_id:
                            type: integer
                          group_name:
                            type: string
                          group_full_path:
                            type: string
                          group_access_level:
                            type: integer
                          expires_at:
                            type: string
                    only_allow_merge_if_pipeline_succeeds:
                      type: boolean
                    request_access_enabled:
                      type: boolean
                    only_allow_merge_if_all_discussions_are_resolved:
                      type: boolean
                    remove_source_branch_after_merge:
                      type: boolean
                    printing_merge_request_link_enabled:
                      type: boolean
                    merge_method:
                      type: string
                    suggestion_commit_message:
                      type: string
                    auto_devops_enabled:
                      type: boolean
                    auto_devops_deploy_strategy:
                      type: string
                    autoclose_referenced_issues:
                      type: boolean
                    repository_storage:
                      type: string
  '/groups/:{id}':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user.
        - name: with_custom_attributes
          schema:
            type: boolean
          required: false
          in: query
          description: Include custom attributes in response (admins only).
        - name: with_projects
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Include details from projects that belong to the specified group
            (defaults to true). (Deprecated, scheduled for removal in API v5. To
            get the details of all projects within a group, use the list a
            group’s projects endpoint.)
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  path:
                    type: string
                  description:
                    type: string
                  visibility:
                    type: string
                  avatar_url:
                    type: string
                  web_url:
                    type: string
                  request_access_enabled:
                    type: boolean
                  full_name:
                    type: string
                  full_path:
                    type: string
                  runners_token:
                    type: string
                  file_template_project_id:
                    type: integer
                  parent_id:
                    type: string
                  created_at:
                    type: string
                  shared_with_groups:
                    type: array
                    items:
                      type: object
                      properties:
                        group_id:
                          type: integer
                        group_name:
                          type: string
                        group_full_path:
                          type: string
                        group_access_level:
                          type: integer
                        expires_at:
                          type: string
                  projects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        description:
                          type: string
                        default_branch:
                          type: string
                        tag_list:
                          type: array
                          items:
                            type: object
                        archived:
                          type: boolean
                        visibility:
                          type: string
                        ssh_url_to_repo:
                          type: string
                        http_url_to_repo:
                          type: string
                        web_url:
                          type: string
                        name:
                          type: string
                        name_with_namespace:
                          type: string
                        path:
                          type: string
                        path_with_namespace:
                          type: string
                        issues_enabled:
                          type: boolean
                        merge_requests_enabled:
                          type: boolean
                        wiki_enabled:
                          type: boolean
                        jobs_enabled:
                          type: boolean
                        snippets_enabled:
                          type: boolean
                        container_registry_enabled:
                          type: boolean
                        created_at:
                          type: string
                        last_activity_at:
                          type: string
                        shared_runners_enabled:
                          type: boolean
                        creator_id:
                          type: integer
                        namespace:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            path:
                              type: string
                            kind:
                              type: string
                        avatar_url:
                          type: string
                        star_count:
                          type: integer
                        forks_count:
                          type: integer
                        open_issues_count:
                          type: integer
                        public_jobs:
                          type: boolean
                        shared_with_groups:
                          type: array
                          items:
                            type: object
                        request_access_enabled:
                          type: boolean
    put:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the group.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the group.
                path:
                  type: string
                  description: The path of the group.
                description:
                  type: string
                  description: The description of the group.
                membership_lock:
                  type: boolean
                  description: >-
                    Prevent adding new members to project membership within this
                    group.
                share_with_group_lock:
                  type: boolean
                  description: >-
                    Prevent sharing a project with another group within this
                    group.
                visibility:
                  type: string
                  description: >-
                    The visibility level of the group. Can be private, internal,
                    or public.
                require_two_factor_authentication:
                  type: boolean
                  description: >-
                    Require all users in this group to setup Two-factor
                    authentication.
                two_factor_grace_period:
                  type: integer
                  description: >-
                    Time before Two-factor authentication is enforced (in
                    hours).
                project_creation_level:
                  type: string
                  description: >-
                    Determine if developers can create projects in the group.
                    Can be noone (No one), maintainer (Maintainers), or
                    developer (Developers + Maintainers).
                auto_devops_enabled:
                  type: boolean
                  description: >-
                    Default to Auto DevOps pipeline for all projects within this
                    group.
                subgroup_creation_level:
                  type: string
                  description: >-
                    Allowed to create subgroups. Can be owner (Owners), or
                    maintainer (Maintainers).
                emails_disabled:
                  type: boolean
                  description: Disable email notifications
                avatar:
                  type: string
                  format: mixd
                  description: >-
                    Image file for avatar of the group. Introduced in GitLab
                    12.9
                mentions_disabled:
                  type: boolean
                  description: Disable the capability of a group from getting mentioned
                lfs_enabled (optional):
                  type: boolean
                  description: >-
                    Enable/disable Large File Storage (LFS) for the projects in
                    this group.
                request_access_enabled:
                  type: boolean
                  description: Allow users to request member access.
                default_branch_protection:
                  type: integer
                  description: See Options for default_branch_protection.
                file_template_project_id:
                  type: integer
                  description: The ID of a project to load custom file templates from.
                shared_runners_minutes_limit:
                  type: integer
                  description: >-
                    Pipeline minutes quota for this group (included in plan).
                    Can be nil (default; inherit system default), 0 (unlimited)
                    or > 0
                extra_shared_runners_minutes_limit:
                  type: integer
                  description: >-
                    Extra pipeline minutes quota for this group (purchased in
                    addition to the minutes included in the plan).
                prevent_forking_outside_group:
                  type: boolean
                  description: >-
                    When enabled, users can not fork projects from this group to
                    external namespaces
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  path:
                    type: string
                  description:
                    type: string
                  visibility:
                    type: string
                  avatar_url:
                    type: string
                  web_url:
                    type: string
                  request_access_enabled:
                    type: boolean
                  full_name:
                    type: string
                  full_path:
                    type: string
                  file_template_project_id:
                    type: integer
                  parent_id:
                    type: string
                  created_at:
                    type: string
                  projects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        description:
                          type: string
                        default_branch:
                          type: string
                        tag_list:
                          type: array
                          items:
                            type: object
                        public:
                          type: boolean
                        archived:
                          type: boolean
                        visibility:
                          type: string
                        ssh_url_to_repo:
                          type: string
                        http_url_to_repo:
                          type: string
                        web_url:
                          type: string
                        name:
                          type: string
                        name_with_namespace:
                          type: string
                        path:
                          type: string
                        path_with_namespace:
                          type: string
                        issues_enabled:
                          type: boolean
                        merge_requests_enabled:
                          type: boolean
                        wiki_enabled:
                          type: boolean
                        jobs_enabled:
                          type: boolean
                        snippets_enabled:
                          type: boolean
                        created_at:
                          type: string
                        last_activity_at:
                          type: string
                        shared_runners_enabled:
                          type: boolean
                        creator_id:
                          type: integer
                        namespace:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            path:
                              type: string
                            kind:
                              type: string
                        avatar_url:
                          type: string
                        star_count:
                          type: integer
                        forks_count:
                          type: integer
                        open_issues_count:
                          type: integer
                        public_jobs:
                          type: boolean
                        shared_with_groups:
                          type: array
                          items:
                            type: object
                        request_access_enabled:
                          type: boolean
    delete:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      responses:
        '200':
          description: success
  '/groups/{id}/restore':
    post:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      responses:
        '200':
          description: success
  '/groups/{id}/hooks':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      responses:
        '200':
          description: success
    post:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The hook URL
                push_events:
                  type: boolean
                  description: Trigger hook on push events
                issues_events:
                  type: boolean
                  description: Trigger hook on issues events
                confidential_issues_events:
                  type: boolean
                  description: Trigger hook on confidential issues events
                merge_requests_events:
                  type: boolean
                  description: Trigger hook on merge requests events
                tag_push_events:
                  type: boolean
                  description: Trigger hook on tag push events
                note_events:
                  type: boolean
                  description: Trigger hook on note events
                confidential_note_events:
                  type: boolean
                  description: Trigger hook on confidential note events
                job_events:
                  type: boolean
                  description: Trigger hook on job events
                pipeline_events:
                  type: boolean
                  description: Trigger hook on pipeline events
                wiki_page_events:
                  type: boolean
                  description: Trigger hook on wiki events
                deployment_events:
                  type: boolean
                  description: Trigger hook on deployment events
                releases_events:
                  type: boolean
                  description: Trigger hook on release events
                enable_ssl_verification:
                  type: boolean
                  description: Do SSL verification when triggering the hook
                token:
                  type: string
                  description: >-
                    Secret token to validate received payloads; not returned in
                    the response
              required:
                - url
      responses:
        '200':
          description: success
  '/groups/{id}/hooks/{hook_id}':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: hook_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a group hook
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  url:
                    type: string
                  group_id:
                    type: integer
                  push_events:
                    type: boolean
                  issues_events:
                    type: boolean
                  confidential_issues_events:
                    type: boolean
                  merge_requests_events:
                    type: boolean
                  tag_push_events:
                    type: boolean
                  note_events:
                    type: boolean
                  confidential_note_events:
                    type: boolean
                  job_events:
                    type: boolean
                  pipeline_events:
                    type: boolean
                  wiki_page_events:
                    type: boolean
                  deployment_events:
                    type: boolean
                  releases_events:
                    type: boolean
                  enable_ssl_verification:
                    type: boolean
                  created_at:
                    type: string
    put:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: hook_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the group hook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The hook URL
                push_events:
                  type: boolean
                  description: Trigger hook on push events
                issues_events:
                  type: boolean
                  description: Trigger hook on issues events
                confidential_issues_events:
                  type: boolean
                  description: Trigger hook on confidential issues events
                merge_requests_events:
                  type: boolean
                  description: Trigger hook on merge requests events
                tag_push_events:
                  type: boolean
                  description: Trigger hook on tag push events
                note_events:
                  type: boolean
                  description: Trigger hook on note events
                confidential_note_events:
                  type: boolean
                  description: Trigger hook on confidential note events
                job_events:
                  type: boolean
                  description: Trigger hook on job events
                pipeline_events:
                  type: boolean
                  description: Trigger hook on pipeline events
                wiki_events:
                  type: boolean
                  description: Trigger hook on wiki events
                deployment_events:
                  type: boolean
                  description: Trigger hook on deployment events
                releases_events:
                  type: boolean
                  description: Trigger hook on release events
                enable_ssl_verification:
                  type: boolean
                  description: Do SSL verification when triggering the hook
                token:
                  type: string
                  description: >-
                    Secret token to validate received payloads; not returned in
                    the response
              required:
                - url
      responses:
        '200':
          description: success
    delete:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: hook_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the group hook.
      responses:
        '200':
          description: success
  '/groups/{id}/ldap_sync':
    post:
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      responses:
        '200':
          description: success
  '/groups/{id}/ldap_group_links':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      responses:
        '200':
          description: success
    post:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cn:
                  type: string
                  description: The CN of an LDAP group
                filter:
                  type: string
                  description: The LDAP filter for the group
                group_access:
                  type: integer
                  description: Minimum access level for members of the LDAP group
                provider:
                  type: string
                  description: LDAP provider for the LDAP group link
              required:
                - group_access
                - provider
      responses:
        '200':
          description: success
    delete:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: cn
          schema:
            type: string
          required: false
          in: query
          description: The CN of an LDAP group
        - name: filter
          schema:
            type: string
          required: false
          in: query
          description: The LDAP filter for the group
        - name: provider
          schema:
            type: string
          required: true
          in: query
          description: LDAP provider for the LDAP group link
      responses:
        '200':
          description: success
  '/groups/{id}/ldap_group_links/{cn}':
    delete:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: cn
          schema:
            type: string
          required: true
          in: path
          description: The CN of an LDAP group
      responses:
        '200':
          description: success
  '/groups/{id}/ldap_group_links/{provider}/{cn}':
    delete:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: cn
          schema:
            type: string
          required: true
          in: path
          description: The CN of an LDAP group
        - name: provider
          schema:
            type: string
          required: true
          in: path
          description: LDAP provider for the LDAP group link
      responses:
        '200':
          description: success
  '/groups/{id}/share':
    post:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: integer
                  description: The ID of the group to share with
                group_access:
                  type: integer
                  description: The access level to grant the group
                expires_at:
                  type: string
                  description: 'Share expiration date in ISO 8601 format: 2016-09-26'
              required:
                - group_id
                - group_access
      responses:
        '200':
          description: success
  '/groups/{id}/share/{group_id}':
    delete:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
        - name: group_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of the group to share with
      responses:
        '200':
          description: success
  '/groups/{id}/push_rule':
    get:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID of the group or URL-encoded path of the group
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  created_at:
                    type: string
                  commit_message_regex:
                    type: array
                    items:
                      type: object
                  commit_message_negative_regex:
                    type: array
                    items:
                      type: object
                  branch_name_regex:
                    type: array
                    items:
                      type: object
                  deny_delete_tag:
                    type: boolean
                  member_check:
                    type: boolean
                  prevent_secrets:
                    type: boolean
                  author_email_regex:
                    type: array
                    items:
                      type: object
                  file_name_regex:
                    type: string
                  max_file_size:
                    type: integer
    post:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deny_delete_tag:
                  type: boolean
                  description: Deny deleting a tag
                member_check:
                  type: boolean
                  description: Allows only GitLab users to author commits
                prevent_secrets:
                  type: boolean
                  description: Files that are likely to contain secrets are rejected
                commit_message_regex:
                  type: string
                  description: >-
                    All commit messages must match the regular expression
                    provided in this attribute, e.g. Fixed \d+\..*
                commit_message_negative_regex:
                  type: string
                  description: >-
                    Commit messages matching the regular expression provided in
                    this attribute aren’t allowed, e.g. ssh\:\/\/
                branch_name_regex:
                  type: string
                  description: >-
                    All branch names must match the regular expression provided
                    in this attribute, e.g. (feature|hotfix)\/*
                author_email_regex:
                  type: string
                  description: >-
                    All commit author emails must match the regular expression
                    provided in this attribute, e.g. @my-company.com$
                file_name_regex:
                  type: string
                  description: >-
                    Filenames matching the regular expression provided in this
                    attribute are not allowed, e.g. (jar|exe)$
                max_file_size:
                  type: integer
                  description: Maximum file size (MB) allowed
                commit_committer_check:
                  type: boolean
                  description: Only commits pushed using verified emails are allowed
                reject_unsigned_commits:
                  type: boolean
                  description: Only commits signed through GPG are allowed
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  created_at:
                    type: string
                  commit_message_regex:
                    type: array
                    items:
                      type: object
                  commit_message_negative_regex:
                    type: array
                    items:
                      type: object
                  branch_name_regex:
                    type: string
                  deny_delete_tag:
                    type: boolean
                  member_check:
                    type: boolean
                  prevent_secrets:
                    type: boolean
                  author_email_regex:
                    type: array
                    items:
                      type: object
                  file_name_regex:
                    type: string
                  max_file_size:
                    type: integer
    put:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deny_delete_tag:
                  type: boolean
                  description: Deny deleting a tag
                member_check:
                  type: boolean
                  description: >-
                    Restricts commits to be authored by existing GitLab users
                    only
                prevent_secrets:
                  type: boolean
                  description: Files that are likely to contain secrets are rejected
                commit_message_regex:
                  type: string
                  description: >-
                    All commit messages must match the regular expression
                    provided in this attribute, e.g. Fixed \d+\..*
                commit_message_negative_regex:
                  type: string
                  description: >-
                    Commit messages matching the regular expression provided in
                    this attribute aren’t allowed, e.g. ssh\:\/\/
                branch_name_regex:
                  type: string
                  description: >-
                    All branch names must match the regular expression provided
                    in this attribute, e.g. (feature|hotfix)\/*
                author_email_regex:
                  type: string
                  description: >-
                    All commit author emails must match the regular expression
                    provided in this attribute, e.g. @my-company.com$
                file_name_regex:
                  type: string
                  description: >-
                    Filenames matching the regular expression provided in this
                    attribute are not allowed, e.g. (jar|exe)$
                max_file_size:
                  type: integer
                  description: Maximum file size (MB) allowed
                commit_committer_check:
                  type: boolean
                  description: Only commits pushed using verified emails are allowed
                reject_unsigned_commits:
                  type: boolean
                  description: Only commits signed through GPG are allowed
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  created_at:
                    type: string
                  commit_message_regex:
                    type: array
                    items:
                      type: object
                  commit_message_negative_regex:
                    type: array
                    items:
                      type: object
                  branch_name_regex:
                    type: string
                  deny_delete_tag:
                    type: boolean
                  member_check:
                    type: boolean
                  prevent_secrets:
                    type: boolean
                  author_email_regex:
                    type: array
                    items:
                      type: object
                  file_name_regex:
                    type: string
                  max_file_size:
                    type: integer
    delete:
      tags:
        - Group
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: The ID or URL-encoded path of the group
      responses:
        '200':
          description: success
