openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/boards':
    get:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    project:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        name_with_namespace:
                          type: string
                        path:
                          type: string
                        path_with_namespace:
                          type: string
                        http_url_to_repo:
                          type: string
                        web_url:
                          type: string
                    milestone:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                    lists:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          label:
                            type: object
                            properties:
                              name:
                                type: string
                              color:
                                type: string
                              description:
                                type: string
                          position:
                            type: integer
                          max_issue_count:
                            type: integer
                          max_issue_weight:
                            type: integer
                          limit_metric:
                            type: string
    post:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the new board
              required:
                - name
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      name_with_namespace:
                        type: string
                      path:
                        type: string
                      path_with_namespace:
                        type: string
                      http_url_to_repo:
                        type: string
                      web_url:
                        type: string
                  name:
                    type: string
                  lists:
                    type: array
                    items:
                      type: object
                  group:
                    type: string
                  milestone:
                    type: string
                  assignee:
                    type: string
                  labels:
                    type: array
                    items:
                      type: object
                  weight:
                    type: string
  '/projects/{id}/boards/{board_id}':
    get:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      name_with_namespace:
                        type: string
                      path:
                        type: string
                      path_with_namespace:
                        type: string
                      http_url_to_repo:
                        type: string
                      web_url:
                        type: string
                  milestone:
                    type: object
                    properties:
                      id:
                        type: integer
                      title:
                        type: string
                  lists:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        label:
                          type: object
                          properties:
                            name:
                              type: string
                            color:
                              type: string
                            description:
                              type: string
                        position:
                          type: integer
                        max_issue_count:
                          type: integer
                        max_issue_weight:
                          type: integer
                        limit_metric:
                          type: string
    put:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name of the board
                assignee_id:
                  type: integer
                  description: The assignee the board should be scoped to
                milestone_id:
                  type: integer
                  description: The milestone the board should be scoped to
                labels:
                  type: string
                  description: >-
                    Comma-separated list of label names which the board should
                    be scoped to
                weight:
                  type: integer
                  description: >-
                    The weight range from 0 to 9, to which the board should be
                    scoped to
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      name_with_namespace:
                        type: string
                      path:
                        type: string
                      path_with_namespace:
                        type: string
                      created_at:
                        type: string
                      default_branch:
                        type: string
                      tag_list:
                        type: array
                        items:
                          type: object
                      ssh_url_to_repo:
                        type: string
                      http_url_to_repo:
                        type: string
                      web_url:
                        type: string
                      readme_url:
                        type: string
                      avatar_url:
                        type: string
                      star_count:
                        type: integer
                      forks_count:
                        type: integer
                      last_activity_at:
                        type: string
                  lists:
                    type: array
                    items:
                      type: object
                  name:
                    type: string
                  group:
                    type: string
                  milestone:
                    type: object
                    properties:
                      id:
                        type: integer
                      iid:
                        type: integer
                      project_id:
                        type: integer
                      title:
                        type: string
                      description:
                        type: string
                      state:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      due_date:
                        type: string
                      start_date:
                        type: string
                      web_url:
                        type: string
                  assignee:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      username:
                        type: string
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        color:
                          type: string
                        description:
                          type: string
                  weight:
                    type: integer
    delete:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
      responses:
        '200':
          description: success
  '/projects/{id}/boards/{board_id}/lists':
    get:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    label:
                      type: object
                      properties:
                        name:
                          type: string
                        color:
                          type: string
                        description:
                          type: string
                    position:
                      type: integer
                    max_issue_count:
                      type: integer
                    max_issue_weight:
                      type: integer
                    limit_metric:
                      type: string
    post:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label_id:
                  type: integer
                  description: The ID of a label
                assignee_id:
                  type: integer
                  description: The ID of a user
                milestone_id:
                  type: integer
                  description: The ID of a milestone
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  label:
                    type: object
                    properties:
                      name:
                        type: string
                      color:
                        type: string
                      description:
                        type: string
                  position:
                    type: integer
                  max_issue_count:
                    type: integer
                  max_issue_weight:
                    type: integer
                  limit_metric:
                    type: string
  '/projects/{id}/boards/{board_id}/lists/{list_id}':
    get:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
        - name: list_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board’s list
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  label:
                    type: object
                    properties:
                      name:
                        type: string
                      color:
                        type: string
                      description:
                        type: string
                  position:
                    type: integer
                  max_issue_count:
                    type: integer
                  max_issue_weight:
                    type: integer
                  limit_metric:
                    type: string
    put:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
        - name: list_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board’s list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                position:
                  type: integer
                  description: The position of the list
              required:
                - position
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  label:
                    type: object
                    properties:
                      name:
                        type: string
                      color:
                        type: string
                      description:
                        type: string
                  position:
                    type: integer
                  max_issue_count:
                    type: integer
                  max_issue_weight:
                    type: integer
                  limit_metric:
                    type: string
    delete:
      tags:
        - Project Issue Boards
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: board_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board
        - name: list_id
          schema:
            type: integer
          required: true
          in: path
          description: The ID of a board’s list
      responses:
        '200':
          description: success
