openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  /issues_statistics:
    get:
      tags:
        - Issues Statistics
      parameters:
        - name: labels
          schema:
            type: string
          required: false
          in: query
          description: >-
            Comma-separated list of label names, issues must have all labels to
            be returned. None lists all issues with no labels. Any lists all
            issues with at least one label.
        - name: milestone
          schema:
            type: string
          required: false
          in: query
          description: >-
            The milestone title. None lists all issues with no milestone. Any
            lists all issues that have an assigned milestone.
        - name: scope
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues for the given scope: created_by_me, assigned_to_me or
            all. Defaults to created_by_me
        - name: author_id
          schema:
            type: integer
          required: false
          in: query
          description: >-
            Return issues created by the given user id. Mutually exclusive with
            author_username. Combine with scope=all or scope=assigned_to_me.
        - name: author_username
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created by the given username. Similar to author_id
            and mutually exclusive with author_id.
        - name: assignee_id
          schema:
            type: integer
          required: false
          in: query
          description: >-
            Return issues assigned to the given user id. Mutually exclusive with
            assignee_username. None returns unassigned issues. Any returns
            issues with an assignee.
        - name: assignee_username
          schema:
            type: array
            items:
              type: string
          required: false
          in: query
          description: >-
            Return issues assigned to the given username. Similar to assignee_id
            and mutually exclusive with assignee_id. In GitLab CE
            assignee_username array should only contain a single value or an
            invalid parameter error is returned otherwise.
        - name: my_reaction_emoji
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues reacted by the authenticated user by the given emoji.
            None returns issues not given a reaction. Any returns issues given
            at least one reaction.
        - name: 'iids[]'
          schema:
            type: array
            items:
              type: integer
          required: false
          in: query
          description: Return only the issues having the given iid
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Search issues against their title and description
        - name: in
          schema:
            type: string
          required: false
          in: query
          description: >-
            Modify the scope of the search attribute. title, description, or a
            string joining them with comma. Default is title,description
        - name: created_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: created_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues updated on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues updated on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: confidential
          schema:
            type: boolean
          required: false
          in: query
          description: Filter confidential or public issues.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  statistics:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          all:
                            type: integer
                          closed:
                            type: integer
                          opened:
                            type: integer
  '/groups/{id}/issues_statistics':
    get:
      tags:
        - Issues Statistics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the group owned by the authenticated
            user
        - name: labels
          schema:
            type: string
          required: false
          in: query
          description: >-
            Comma-separated list of label names, issues must have all labels to
            be returned. None lists all issues with no labels. Any lists all
            issues with at least one label.
        - name: 'iids[]'
          schema:
            type: array
            items:
              type: integer
          required: false
          in: query
          description: Return only the issues having the given iid
        - name: milestone
          schema:
            type: string
          required: false
          in: query
          description: >-
            The milestone title. None lists all issues with no milestone. Any
            lists all issues that have an assigned milestone.
        - name: scope
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues for the given scope: created_by_me, assigned_to_me or
            all.
        - name: author_id
          schema:
            type: integer
          required: false
          in: query
          description: >-
            Return issues created by the given user id. Mutually exclusive with
            author_username. Combine with scope=all or scope=assigned_to_me.
        - name: author_username
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created by the given username. Similar to author_id
            and mutually exclusive with author_id.
        - name: assignee_id
          schema:
            type: integer
          required: false
          in: query
          description: >-
            Return issues assigned to the given user id. Mutually exclusive with
            assignee_username. None returns unassigned issues. Any returns
            issues with an assignee.
        - name: assignee_username
          schema:
            type: array
            items:
              type: string
          required: false
          in: query
          description: >-
            Return issues assigned to the given username. Similar to assignee_id
            and mutually exclusive with assignee_id. In GitLab CE
            assignee_username array should only contain a single value or an
            invalid parameter error is returned otherwise.
        - name: my_reaction_emoji
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues reacted by the authenticated user by the given emoji.
            None returns issues not given a reaction. Any returns issues given
            at least one reaction.
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Search group issues against their title and description
        - name: created_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: created_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues updated on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues updated on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: confidential
          schema:
            type: boolean
          required: false
          in: query
          description: Filter confidential or public issues.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  statistics:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          all:
                            type: integer
                          closed:
                            type: integer
                          opened:
                            type: integer
  '/projects/{id}/issues_statistics':
    get:
      tags:
        - Issues Statistics
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            The ID or URL-encoded path of the project owned by the authenticated
            user
        - name: 'iids[]'
          schema:
            type: array
            items:
              type: integer
          required: false
          in: query
          description: Return only the milestone having the given iid
        - name: labels
          schema:
            type: string
          required: false
          in: query
          description: >-
            Comma-separated list of label names, issues must have all labels to
            be returned. None lists all issues with no labels. Any lists all
            issues with at least one label.
        - name: milestone
          schema:
            type: string
          required: false
          in: query
          description: >-
            The milestone title. None lists all issues with no milestone. Any
            lists all issues that have an assigned milestone.
        - name: scope
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues for the given scope: created_by_me, assigned_to_me or
            all.
        - name: author_id
          schema:
            type: integer
          required: false
          in: query
          description: >-
            Return issues created by the given user id. Mutually exclusive with
            author_username. Combine with scope=all or scope=assigned_to_me.
        - name: author_username
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created by the given username. Similar to author_id
            and mutually exclusive with author_id.
        - name: assignee_id
          schema:
            type: integer
          required: false
          in: query
          description: >-
            Return issues assigned to the given user id. Mutually exclusive with
            assignee_username. None returns unassigned issues. Any returns
            issues with an assignee.
        - name: assignee_username
          schema:
            type: array
            items:
              type: string
          required: false
          in: query
          description: >-
            Return issues assigned to the given username. Similar to assignee_id
            and mutually exclusive with assignee_id. In GitLab CE
            assignee_username array should only contain a single value or an
            invalid parameter error is returned otherwise.
        - name: my_reaction_emoji
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues reacted by the authenticated user by the given emoji.
            None returns issues not given a reaction. Any returns issues given
            at least one reaction.
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Search project issues against their title and description
        - name: created_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: created_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues created on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_after
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues updated on or after the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: updated_before
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return issues updated on or before the given time. Expected in ISO
            8601 format (2019-03-15T08:00:00Z)
        - name: confidential
          schema:
            type: boolean
          required: false
          in: query
          description: Filter confidential or public issues.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  statistics:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          all:
                            type: integer
                          closed:
                            type: integer
                          opened:
                            type: integer
