openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/groups/{id}/iterations':
    get:
      tags:
        - Group iterations
      parameters:
        - name: id
          schema:
            type: integer
          required: true
          in: path
        - name: state
          schema:
            type: string
          required: false
          in: query
          description: >-
            Return only opened, upcoming, started, closed, or all iterations.
            Defaults to all.
        - name: search
          schema:
            type: string
          required: false
          in: query
          description: Return only iterations with a title matching the provided string.
        - name: include_ancestors
          schema:
            type: boolean
          required: false
          in: query
          description: >-
            Include iterations from parent group and its ancestors. Defaults to
            true.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    iid:
                      type: integer
                    group_id:
                      type: integer
                    title:
                      type: string
                    description:
                      type: string
                    state:
                      type: integer
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    due_date:
                      type: string
                    start_date:
                      type: string
