openapi: 3.0.0
info:
  title: Environments
  version: v4
  description: An OpenAPI definition for the GitLab REST API.
servers:
  - url: 'https://10.177.74.168.com/api/v4'
paths:
  '/projects/{id}/jobs':
    get:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: scope
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          required: false
          in: query
          description: >-
            Scope of jobs to show. Either one of or an array of the following:
            created, pending, running, failed, success, canceled, skipped, or
            manual. All jobs are returned if scope is not provided.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    commit:
                      type: object
                      properties:
                        author_email:
                          type: string
                        author_name:
                          type: string
                        created_at:
                          type: string
                        id:
                          type: string
                        message:
                          type: string
                        short_id:
                          type: string
                        title:
                          type: string
                    coverage:
                      type: string
                    allow_failure:
                      type: boolean
                    created_at:
                      type: string
                    started_at:
                      type: string
                    finished_at:
                      type: string
                    duration:
                      type: string
                    artifacts_file:
                      type: object
                      properties:
                        filename:
                          type: string
                        size:
                          type: integer
                    artifacts:
                      type: array
                      items:
                        type: object
                        properties:
                          file_type:
                            type: string
                          size:
                            type: integer
                          filename:
                            type: string
                          file_format:
                            type: string
                    artifacts_expire_at:
                      type: string
                    id:
                      type: integer
                    name:
                      type: string
                    pipeline:
                      type: object
                      properties:
                        id:
                          type: integer
                        ref:
                          type: string
                        sha:
                          type: string
                        status:
                          type: string
                    ref:
                      type: string
                    runner:
                      type: string
                    stage:
                      type: string
                    status:
                      type: string
                    tag:
                      type: boolean
                    web_url:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        username:
                          type: string
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                        created_at:
                          type: string
                        bio:
                          type: string
                        location:
                          type: string
                        public_email:
                          type: string
                        skype:
                          type: string
                        linkedin:
                          type: string
                        twitter:
                          type: string
                        website_url:
                          type: string
                        organization:
                          type: string
  '/projects/{id}/pipelines/{pipeline_id}/jobs':
    get:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: pipeline_id
          schema:
            type: integer
          required: true
          in: path
          description: ID of a pipeline.
        - name: scope
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          required: false
          in: query
          description: >-
            Scope of jobs to show. Either one of or an array of the following:
            created, pending, running, failed, success, canceled, skipped, or
            manual. All jobs are returned if scope is not provided.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    commit:
                      type: object
                      properties:
                        author_email:
                          type: string
                        author_name:
                          type: string
                        created_at:
                          type: string
                        id:
                          type: string
                        message:
                          type: string
                        short_id:
                          type: string
                        title:
                          type: string
                    coverage:
                      type: string
                    allow_failure:
                      type: boolean
                    created_at:
                      type: string
                    started_at:
                      type: string
                    finished_at:
                      type: string
                    duration:
                      type: string
                    artifacts_expire_at:
                      type: string
                    id:
                      type: integer
                    name:
                      type: string
                    pipeline:
                      type: object
                      properties:
                        id:
                          type: integer
                        ref:
                          type: string
                        sha:
                          type: string
                        status:
                          type: string
                    ref:
                      type: string
                    artifacts:
                      type: array
                      items:
                        type: object
                    runner:
                      type: string
                    stage:
                      type: string
                    status:
                      type: string
                    tag:
                      type: boolean
                    web_url:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        username:
                          type: string
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                        created_at:
                          type: string
                        bio:
                          type: string
                        location:
                          type: string
                        public_email:
                          type: string
                        skype:
                          type: string
                        linkedin:
                          type: string
                        twitter:
                          type: string
                        website_url:
                          type: string
                        organization:
                          type: string
  '/projects/{id}/pipelines/{pipeline_id}/bridges':
    get:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: pipeline_id
          schema:
            type: integer
          required: true
          in: path
          description: ID of a pipeline.
        - name: scope
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          required: false
          in: query
          description: >-
            Scope of jobs to show. Either one of or an array of the following:
            created, pending, running, failed, success, canceled, skipped, or
            manual. All jobs are returned if scope is not provided.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    commit:
                      type: object
                      properties:
                        author_email:
                          type: string
                        author_name:
                          type: string
                        created_at:
                          type: string
                        id:
                          type: string
                        message:
                          type: string
                        short_id:
                          type: string
                        title:
                          type: string
                    coverage:
                      type: string
                    allow_failure:
                      type: boolean
                    created_at:
                      type: string
                    started_at:
                      type: string
                    finished_at:
                      type: string
                    duration:
                      type: integer
                    id:
                      type: integer
                    name:
                      type: string
                    pipeline:
                      type: object
                      properties:
                        id:
                          type: integer
                        ref:
                          type: string
                        sha:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        web_url:
                          type: string
                    ref:
                      type: string
                    stage:
                      type: string
                    status:
                      type: string
                    tag:
                      type: boolean
                    web_url:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        username:
                          type: string
                        state:
                          type: string
                        avatar_url:
                          type: string
                        web_url:
                          type: string
                        created_at:
                          type: string
                        bio:
                          type: string
                        location:
                          type: string
                        public_email:
                          type: string
                        skype:
                          type: string
                        linkedin:
                          type: string
                        twitter:
                          type: string
                        website_url:
                          type: string
                        organization:
                          type: string
                    downstream_pipeline:
                      type: object
                      properties:
                        id:
                          type: integer
                        sha:
                          type: string
                        ref:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        web_url:
                          type: string
  '/projects/{id}/jobs/{job_id}':
    get:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: job_id
          schema:
            type: integer
          required: true
          in: path
          description: ID of a job.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                    properties:
                      author_email:
                        type: string
                      author_name:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: string
                      message:
                        type: string
                      short_id:
                        type: string
                      title:
                        type: string
                  coverage:
                    type: string
                  allow_failure:
                    type: boolean
                  created_at:
                    type: string
                  started_at:
                    type: string
                  finished_at:
                    type: string
                  duration:
                    type: string
                  artifacts_expire_at:
                    type: string
                  id:
                    type: integer
                  name:
                    type: string
                  pipeline:
                    type: object
                    properties:
                      id:
                        type: integer
                      ref:
                        type: string
                      sha:
                        type: string
                      status:
                        type: string
                  ref:
                    type: string
                  artifacts:
                    type: array
                    items:
                      type: object
                  runner:
                    type: string
                  stage:
                    type: string
                  status:
                    type: string
                  tag:
                    type: boolean
                  web_url:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      username:
                        type: string
                      state:
                        type: string
                      avatar_url:
                        type: string
                      web_url:
                        type: string
                      created_at:
                        type: string
                      bio:
                        type: string
                      location:
                        type: string
                      public_email:
                        type: string
                      skype:
                        type: string
                      linkedin:
                        type: string
                      twitter:
                        type: string
                      website_url:
                        type: string
                      organization:
                        type: string
  '/projects/{id}/jobs/{job_id}/trace':
    get:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: job_id
          schema:
            type: integer
          required: true
          in: path
          description: ID of a job.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                    properties:
                      author_email:
                        type: string
                      author_name:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: string
                      message:
                        type: string
                      short_id:
                        type: string
                      title:
                        type: string
                  coverage:
                    type: string
                  allow_failure:
                    type: boolean
                  created_at:
                    type: string
                  started_at:
                    type: string
                  finished_at:
                    type: string
                  duration:
                    type: integer
                  id:
                    type: integer
                  name:
                    type: string
                  ref:
                    type: string
                  artifacts:
                    type: array
                    items:
                      type: object
                  runner:
                    type: string
                  stage:
                    type: string
                  status:
                    type: string
                  tag:
                    type: boolean
                  web_url:
                    type: string
                  user:
                    type: string
  '/projects/{id}/jobs/{job_id}/cancel':
    post:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: job_id
          schema:
            type: integer
          required: true
          in: path
          description: ID of a job.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                    properties:
                      author_email:
                        type: string
                      author_name:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: string
                      message:
                        type: string
                      short_id:
                        type: string
                      title:
                        type: string
                  coverage:
                    type: string
                  allow_failure:
                    type: boolean
                  created_at:
                    type: string
                  started_at:
                    type: string
                  finished_at:
                    type: string
                  duration:
                    type: string
                  id:
                    type: integer
                  name:
                    type: string
                  ref:
                    type: string
                  artifacts:
                    type: array
                    items:
                      type: object
                  runner:
                    type: string
                  stage:
                    type: string
                  status:
                    type: string
                  tag:
                    type: boolean
                  web_url:
                    type: string
                  user:
                    type: string
  '/projects/{id}/jobs/{job_id}/retry':
    post:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: job_id
          schema:
            type: integer
          required: true
          in: path
          description: ID of a job.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                    properties:
                      author_email:
                        type: string
                      author_name:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: string
                      message:
                        type: string
                      short_id:
                        type: string
                      title:
                        type: string
                  coverage:
                    type: string
                  allow_failure:
                    type: boolean
                  download_url:
                    type: string
                  id:
                    type: integer
                  name:
                    type: string
                  ref:
                    type: string
                  artifacts:
                    type: array
                    items:
                      type: object
                  runner:
                    type: string
                  stage:
                    type: string
                  created_at:
                    type: string
                  started_at:
                    type: string
                  finished_at:
                    type: string
                  duration:
                    type: string
                  status:
                    type: string
                  tag:
                    type: boolean
                  web_url:
                    type: string
                  user:
                    type: string
  '/projects/{id}/jobs/{job_id}/play':
    post:
      tags:
        - Jobs
      parameters:
        - name: id
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          in: path
          description: >-
            ID or URL-encoded path of the project owned by the authenticated
            user.
        - name: job_id
          schema:
            type: integer
          required: true
          in: path
          description: ID of a job.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                    properties:
                      author_email:
                        type: string
                      author_name:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: string
                      message:
                        type: string
                      short_id:
                        type: string
                      title:
                        type: string
                  coverage:
                    type: string
                  allow_failure:
                    type: boolean
                  created_at:
                    type: string
                  started_at:
                    type: string
                  finished_at:
                    type: string
                  duration:
                    type: string
                  id:
                    type: integer
                  name:
                    type: string
                  ref:
                    type: string
                  artifacts:
                    type: array
                    items:
                      type: object
                  runner:
                    type: string
                  stage:
                    type: string
                  status:
                    type: string
                  tag:
                    type: boolean
                  web_url:
                    type: string
                  user:
                    type: string
